/*
Theme Name: BSI Theme
Theme URI: https://bogordesain.com
Description: Theme Of Bogor Safety Institute
Author: Nakamura Agatha
Author URI: https://bogordesain.com
Version: 7.2
License: GNU General Public License
License URI: license.txt
*/



/*---------------------------------------------------------------*/
/* Reset default browser CSS (By Eric Meyer)
/*---------------------------------------------------------------*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	border: 0; font-family: inherit; font-size: 100%; font-style: inherit; font-weight: inherit; margin: 0; outline: 0; padding: 0; vertical-align: baseline;
}



/*---------------------------------------------------------------*/
/* Global Style
/*---------------------------------------------------------------*/

html,body{width:100%;}
body {font-family: Arial, Helvetica, sans-serif; line-height: 1.6; background:#F0F0F0; font-size:13px; color:#727272; -webkit-font-smoothing: antialiased; /* Fix for webkit rendering */ -webkit-text-size-adjust: 100%; 	text-rendering: optimizeLegibility;}

img, a img, img:focus {border: 0; outline: 0;}
img{max-width:100%;}
textarea, input, a, textarea:focus, input:focus, a:focus { outline: none; }

h1, h2, h3, h4, h5, h6 {font-weight: normal; margin-bottom:15px; color:#444444; line-height: 1.4;}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { font-weight: inherit; color:#444444; }
h1{font-size:30px}
h2{font-size:24px}
h3{font-size:20px}
h4{font-size:18px}
h5{font-size:16px}
h6{font-size:14px}

p {margin: 0 0 18px 0;}
p img {margin: 0;}

em {font-style: italic;}
strong {font-weight: bold;}
small {font-size: 80%;}
abbr,acronym {border-bottom: 1px dotted #666; cursor: help;}
sup,sub {height: 0;	line-height: 1;	position: relative;	vertical-align: baseline;}
sup {bottom: 1ex;}
sub {top: .5ex;}
pre { white-space: pre-wrap; white-space: -moz-pre-wrap; white-space: -o-pre-wrap; background: #f7f7f7; color: #222;line-height: 18px; margin-bottom: 18px;padding: 1.5em; border:1px solid #e9e9e9;}

/* Lists */
ul, ol { }
ul {  }
ol {list-style: decimal;}
ol, ul.square, ul.circle, ul.disc, ul {margin-left: 30px;}
ul.square {list-style: square outside;}
ul.circle {list-style: circle outside;}
ul.disc {list-style: disc outside;}
ul ul, ul ol, ol ol, ol ul {margin: 4px 0 5px 30px;}
ul ul li, ul ol li, ol ol li, ol ul li {margin-bottom: 6px;}
li {line-height: 18px;}
ul.large li {line-height: 21px;}
li p {line-height: 21px;}

/* Blockquotes */
blockquote, blockquote p {font-size: 14px; color: #777; font-style: italic;}
blockquote {margin: 10px 30px; color: #999; border-left: 3px solid #aaa; padding-left: 15px;}
blockquote cite {display: block; font-size: 12px; color: #555;}

/* Links */
a{text-decoration:none; outline:0; border:0; color:#343434;}
a:hover, a:active,a:focus {border: 0; outline:0; text-decoration:none;}
p a {line-height: inherit;}

/* Divider */
hr {background-color: #EDEDED; border: 0; clear: both; height: 1px; margin-bottom: 18px;}

/* Clear */
.clear{clear:both;}

/* Form style */
input,textarea{color: #696969; font-size: 13px; background:#fff; border: 1px solid #ddd; box-shadow: inset 0px 1px 4px rgba(0,0,0,0.1); -moz-box-shadow:inset 0px 1px 4px rgba(0,0,0,0.1); -webkit-box-shadow: inset 0px 1px 4px rgba(0,0,0,0.1); }
input {height:25px; padding:4px 10px; }
textarea{width: 400px; overflow:hidden; padding:10px;}

input[type='submit'] {display: inline-block; background-color:#f86b35; color: #fff; font-size: 13px; font-weight:bold; height: 33px; line-height:33px; padding: 0px 20px; text-align: center; text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.251); text-transform: uppercase; border:none; box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.196); -moz-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.196); -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.196); -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px;}

input[type='submit']:hover {color:#ffffff;
background-image: -moz-linear-gradient(top,  rgba(255,255,255,0.23) 0%, rgba(255,255,255,0) 100%);
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.23)), color-stop(100%,rgba(255,255,255,0)));
background-image: -webkit-linear-gradient(top,  rgba(255,255,255,0.23) 0%,rgba(255,255,255,0) 100%);
background-image: -o-linear-gradient(top,  rgba(255,255,255,0.23) 0%,rgba(255,255,255,0) 100%);
background-image: -ms-linear-gradient(top,  rgba(255,255,255,0.23) 0%,rgba(255,255,255,0) 100%);
background-image: linear-gradient(to bottom,  rgba(255,255,255,0.23) 0%,rgba(255,255,255,0) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3bffffff', endColorstr='#00ffffff',GradientType=0 );}
input[type='submit']:active{color:#ffffff;}

input::-moz-focus-inner { border: 0; padding: 0; margin-top:0px;}

/* Table Style */
table{background-color:#eeeeee; border-collapse:collapse; border-spacing: 0;  padding:0; margin-bottom:18px; -moz-border-radius:6px; -webkit-border-radius:6px ; border-radius:6px;  width:100%;}
th{color:#ffffff; font-weight:bold; padding:10px 30px 10px 30px; text-align:center; text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.251);}
tr{color:#696969; text-align:center;}
tr:nth-child(odd) td{background:#ffffff;}
td{padding:10px;vertical-align:middle; }
th:first-child {-moz-border-radius: 6px 0 0 0;-webkit-border-radius: 6px 0 0 0; border-radius: 6px 0 0 0;}
th:last-child {-moz-border-radius: 0 6px 0 0; -webkit-border-radius: 0 6px 0 0; border-radius: 0 6px 0 0;}
th:only-child{-moz-border-radius: 6px 6px 0 0;-webkit-border-radius: 6px 6px 0 0;border-radius: 6px 6px 0 0;}




/*---------------------------------------------------------------*/
/* Layout wrapper
/*---------------------------------------------------------------*/

/* Boxed layout */
#layout-wrapper.boxed-attached{position:relative; width:1000px; margin:0 auto; background:#fff; box-shadow: 0px 0px 19px rgba(26, 26, 26, 0.1); -moz-box-shadow: 0px 0px 19px rgba(26, 26, 26, 0.1); -webkit-box-shadow: 0px 0px 19px rgba(26, 26, 26, 0.1);}

/* Boxed layout with paddings */
#layout-wrapper.boxed{position:relative; width:1000px; margin:40px auto; background: #fff; box-shadow: 0px 0px 19px rgba(26, 26, 26, 0.1); -moz-box-shadow: 0px 0px 19px rgba(26, 26, 26, 0.1); -webkit-box-shadow: 0px 0px 19px rgba(26, 26, 26, 0.1);}

/* Full width layout */
#layout-wrapper.full-width{width:100%; background:#fff; overflow-x: hidden;}




/*---------------------------------------------------------------*/
/* Header
/*---------------------------------------------------------------*/

/* Top area */
#top-bar-wrapper{ background:#E9E9E9;}
#top-bar{width:940px; margin:0 auto; padding:10px 0;}

#header-wrapper {width:100%; border-bottom:1px solid #ebebeb; position:relative; z-index:1090; }
#header {width:940px; height:70px; margin:0 auto; position:relative;}


/* Logo */
#header #logo{position:absolute; left:0px; bottom:15px;}
#header #logo h1{position:absolute; font-size:24px; font-weight:bold; margin-bottom:0px; left:0px; bottom:0;}
.retina-logo {display:none;}

/* Menu first-level */
#primary-main-menu{font-size:13px; position:absolute; bottom:0; right:0; line-height:1; margin:0 -15px -1px 0; padding: 0; }
#primary-main-menu li{list-style:none; position:relative; float:left; padding:0 15px 25px;}
#primary-main-menu li a{display:block; position:relative; color:#888; margin:0; padding: 10px 0px 2px; text-decoration: none; text-transform:uppercase; font-weight:600; border-bottom:2px solid #e7e7e7; line-height:1;}

/* Sub-level */
#primary-main-menu li ul{font-size:12px; position: absolute; top:100%; margin:0 -5px 0 0; left: 0; display: block; visibility: hidden; z-index:9992; box-shadow:0px 1px 3px rgba(0, 0, 0, 0.3); -moz-box-shadow:0px 1px 3px rgba(0, 0, 0, 0.3);  -webkit-box-shadow:0px 1px 3px rgba(0, 0, 0, 0.3);}
#primary-main-menu li:hover > ul{visibility: visible;}
#primary-main-menu li ul li {display: block; float: none; margin: 0; padding:0; }
#primary-main-menu li ul li a{display:block; background:none; color:#555; border:none; width:160px; padding:7px 20px; margin:0; line-height:1.7; border-bottom: 1px solid rgba(0, 0, 0, 0.2); border-top: 1px solid rgba(255, 255, 255, 0.1);}
#primary-main-menu li ul li a{opacity:0.98; text-transform:none; }
#primary-main-menu li ul li a:hover{opacity:1;}
#primary-main-menu li ul li ul{margin:0; top:0px; left:200px;}

/* Sub-level fix */
#primary-main-menu li ul li:last-child > a{border-bottom:none;}

/* 3rd-level indicator */
#primary-main-menu li ul > li > .parent:after, #primary-main-menu li li .parent:after {content: "\e3b5"; font-family:moon; float:right; font-size:11px;}

/* Current menu item style */
#primary-main-menu > li.current-menu-item, #primary-main-menu > li.current-menu-ancestor, #primary-main-menu > li.current_page_parent {padding-bottom:27px;}
#primary-main-menu > li.current-menu-item > a, #primary-main-menu > li.current-menu-ancestor > a, #primary-main-menu > li.current_page_parent > a  {border:none;}
#primary-main-menu > li.current-menu-item > a:after, #primary-main-menu > li.current-menu-ancestor > a:after, #primary-main-menu > li.current_page_parent > a:after {content: ""; width: 0; height: 0; border-style: solid; border-width: 0 3px 3px 3px; border-color: transparent transparent #f86c35 transparent; border-color:rgba(255,255,255,0)  rgba(255,255,255,0) #f86c35 rgba(255,255,255,0);  position:absolute; bottom: -5px; left: 50%; margin-left:-2px; }

/* Mobile menu bar */
.toggleMenu {display:none;}
.mobile-select-menu {display:none; height:40px; padding:0 0 0 10px; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;}

/* Header search */
#primary-main-menu  li.header-search-toggle {border-left:1px solid #e7e7e7; padding:0 15px 10px 25px !important; margin-left:10px;}
#header-search-wrapper{background:#f86b35; height:52px; position:absolute; bottom:-53px; right:-2px; z-index:1091; display:none;}
#header-search-wrapper:before{content: ""; width: 0; height: 0; border-style: solid; border-width: 0 10px 10px 10px; border-color: transparent transparent #f86c35 transparent; border-color:rgba(255,255,255,0)  rgba(255,255,255,0) #f86c35 rgba(255,255,255,0);  position:absolute; right:15px; top:-8px;}
#header-search-wrapper input.s{background:none; width:300px; height:auto; border:none; color:#fff; padding:15px 15px 0; color: rgba(255, 255, 255, 0.506); font-size:21px; box-shadow:none; -webkit-box-shadow:none; -moz-box-shadow:none;}
#header-search-wrapper input.s:focus{outline: none;}




/*---------------------------------------------------------------*/
/* Subhead area
/*---------------------------------------------------------------*/

#custom_header{width:940px; margin:0 auto; position: relative;}
#subhead_full {position:relative;}
#orbit-container {width:940px; margin:0 auto; padding:35px 0;}




/*---------------------------------------------------------------*/
/* Content
/*---------------------------------------------------------------*/

/* Content area */
#wrapper{width:940px; margin:40px auto;}
#wrapper #content_left {float:left; width:650px;}
#wrapper #content_right {float:right; width:650px;}

.post, .search .portfolio{padding-bottom:40px;}
.single-post .post{padding-bottom:0px;}
.post-image, .post-embed{margin-bottom:18px;}
.blog-layout-medium{width:300px; float:left; padding-right:30px; margin-bottom:5px;}
.post-gallery.blog-layout-medium .nivo-size-wrap {max-width:100%;  margin-bottom: 12px;}
.post-gallery .nivo-size-wrap{margin-bottom:30px;}
h2.post-title{font-size:19px; font-weight:bold; margin-bottom:15px;}
#title-wrapper{width:100%; border-bottom:1px solid #ebebeb; background:#f2f2f4; position:relative;}
.page-title h1{font-size:19px; line-height: 1.1; color:#444444; padding: 30px 20px 28px; margin:0; float:left; position:relative; z-index:101;}
.page-title{width:940px; margin:0 auto;}

/* Custom heading */
.heading-wrapper {position:relative; overflow: hidden; display:block; margin-bottom:30px;}
.heading-wrapper strong {padding:0 8px; text-transform:uppercase;}
.heading-wrapper h6 {margin:0 0 0 9px; font-size:13px; display:inline-block; position:relative;}
.heading-wrapper h6 > .heading-line-right{width:940px; display:block; position:absolute; top:50%;}
.heading-wrapper h6 > .heading-line-right{border-style:solid; border-width:0 0 1px 0; border-color:#E5E5E5; left:100%;}
.heading-wrapper h6 > .heading-line-left{width:20px; display:block; position:absolute; top:50%;}
.heading-wrapper h6 > .heading-line-left{border-style:solid; border-width:0 0 1px 0; border-color:#E5E5E5; right:100%;}

/* Custom heading FIX for comments */
#reply-title {font-size:15px; position:relative; overflow: hidden; display:block; margin-bottom:30px;}
#reply-title .reply-title-wrapper strong {padding:0 8px; text-transform:uppercase; font-size:13px;}
#reply-title .reply-title-wrapper {margin:0 0 0 9px; font-size:16px; display:inline-block; position:relative;}
#reply-title .reply-title-wrapper > .heading-line-right{width:980px; display:block; position:absolute; top:50%;}
#reply-title .reply-title-wrapper > .heading-line-right{border-style:solid; border-width:0 0 1px 0; border-color:#E5E5E5; left:100%;}
#reply-title .reply-title-wrapper > .heading-line-left{width:20px; display:block; position:absolute; top:50%;}
#reply-title .reply-title-wrapper > .heading-line-left{border-style:solid; border-width:0 0 1px 0; border-color:#E5E5E5; right:100%;}


/* Breadcrumbs */
.mnky-breadcrumbs{float:right; margin-top:28px; padding:7px; position:relative; z-index:101;text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2); background: rgba(0,0,0,0.3); -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px;}
.mnky-breadcrumbs, .mnky-breadcrumbs a{color:#696969; font-size: 10px; font-style: normal; line-height:1.1;}
.mnky-breadcrumbs .separator{padding:0 5px;}

/* Meta */
.post-meta{font-size:12px; border-bottom: 1px solid #E7E7E7; border-top: 1px solid #E7E7E7; margin-top:20px; padding: 7px 0px; clear:both;}
.post-meta span{border-right: 1px dotted #BCBCBC; padding: 0px 7px;}
.post-meta span.post-comments{border: none; padding-right:4px}
.post-meta span a, .post-meta span.post-category a:last-child{padding: 0px 3px 0 0; margin:0;}
.post-meta span.post-category a{padding: 0px;}
.post-meta .post-comments{float:right;}
.post-tags {padding: 3px 7px 0px 7px;}
.single-post .post-meta{margin-top:50px;}
.post-link{margin:24px 0 30px;}

/* Links */
.link-button a, .post-link {display: inline-block; background-color:#f86b35; color: #fff; font-size: 13px; font-weight:bold; height: 33px; line-height:33px; padding: 0px 20px; text-align: center; text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.251); text-transform: uppercase; box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.196); -moz-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.196); -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.196); -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px;}
.link-button a:hover, .post-link:hover {color:#ffffff;
background-image: -moz-linear-gradient(top,  rgba(255,255,255,0.23) 0%, rgba(255,255,255,0) 100%);
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.23)), color-stop(100%,rgba(255,255,255,0)));
background-image: -webkit-linear-gradient(top,  rgba(255,255,255,0.23) 0%,rgba(255,255,255,0) 100%);
background-image: -o-linear-gradient(top,  rgba(255,255,255,0.23) 0%,rgba(255,255,255,0) 100%);
background-image: -ms-linear-gradient(top,  rgba(255,255,255,0.23) 0%,rgba(255,255,255,0) 100%);
background-image: linear-gradient(to bottom,  rgba(255,255,255,0.23) 0%,rgba(255,255,255,0) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3bffffff', endColorstr='#00ffffff',GradientType=0 );
}

/* Author info */
#authorarea{margin:50px 0 0; padding:0;}
#authorarea img{margin:0; float:left;}
#authorarea .authorinfo{margin-left:85px}

/* 404 */
.error404_content .error_title{font-size:18px; font-weight:bold; text-transform:uppercase;}
.error404_content {margin:0 0 40px 0; text-align:center;}
.error404_content .error404-icon{color:#ddd; display: block; padding-top:30px; font-size:240px; line-height:1;}
.error404 .searchform .s{width:300px;}
.not-found .entry-content .searchform .s{width:250px; margin-top:10px;}
.not-found .post-title {margin-bottom:5px;}

/* Paging */
.wp-pagenavi {clear: both; font-size:11px; line-height: 16px; font-family: Arial, Helvetica, sans-serif; color:#aaaaaa;}
.wp-pagenavi a, .wp-pagenavi span { text-decoration: none; border: 1px solid #BFBFBF; padding: 3px 6px; margin: 2px; color:#aaaaaa;}
.wp-pagenavi span.current {font-weight: bold;}
.wp-pagenavi select{border: 1px solid #BFBFBF; background:#f7f7f7; color:#696969; height:25px; min-width:60px; padding:0 10px;}




/*---------------------------------------------------------------*/
/* Sidebars
/*---------------------------------------------------------------*/

/* Default sidebar */
#default-widget-area{width: 250px;}
#sidebar_right{float:right; margin-top:5px;}
#sidebar_left{float:left; margin-top:5px;}
.blog #sidebar_right, .single #sidebar_right {margin-top:0px;}
.blog #sidebar_left, .single #sidebar_left  {margin-top:0px;}


@-moz-document url-prefix() {
	#default-widget-area .xoxo li .widget-title {padding-bottom:6px;} /* FF */
}

/* Header sidebar */
#header-wrapper #header-widget-area{position:absolute; right:0; text-align:right; z-index:101;}
#header-wrapper #header-widget-area ul.xoxo{float:right;}

/* Footer sidebar */
#footer-wrapper {background:#373839; color:#9C9C9C;}
#footer-wrapper a{color:#BCBCBC;}
#footer-widget-area {width:940px; margin:0 auto; padding:45px 0; overflow:hidden;}

#footer-widget-area .widget-area{margin-right:20px;}
#footer-widget-area .widget-area:last-child, #footer-widget-area.columns-1 .widget-area{margin-right:0px;}

#footer-widget-area .widget-area{float:left;}
#footer-widget-area.columns-1 .widget-area{width:100%;}
#footer-widget-area.columns-2 .widget-area{width: 460px;}
#footer-widget-area.columns-3 .widget-area{width: 300px;}
#footer-widget-area.columns-4 .widget-area{width:220px;}




/*---------------------------------------------------------------*/
/* Widgets
/*---------------------------------------------------------------*/

/* Default widget style */
.widget-area ul.xoxo {margin:0; padding:0;}
.widget-area ul.xoxo li {list-style:none; line-height: 1.6;}
.widget-area ul.xoxo li.widget-container {margin:0 0 40px; padding:0;}
.widget-area ul.xoxo li.widget-container ul {margin:0; padding:0;}
.widget-area ul.xoxo li.widget-container ul li {padding: 9px 0; margin:0; border-bottom:1px solid #EDEDED;}
.widget-area ul.xoxo li.widget-container ul li:first-child {padding-top:0px;}
.widget-area ul.xoxo li.widget-container ul li:last-child {padding-bottom:0px; border-bottom:none; box-shadow: none; -moz-box-shadow: none;  -webkit-box-shadow: none;}
.widget-area ul.xoxo li.widget-container ul li:before {content: "\e411"; font-family: moon; color:#999; font-size:10px; speak: none; font-style: normal; font-weight: normal; line-height: 1; padding-right:10px; cursor:default; -webkit-font-smoothing: antialiased;}
.widget-title{color:#696969; font-weight:bold; font-size: 11px; padding:0 0 5px; margin:0; text-transform:uppercase;}
.widget-title span {padding: 0px 0px;}
.sidebar-line{width:100%; height:1px; background:#ccc; margin-bottom:25px;}
.sidebar-line span{display:block; width:40px; height:1px;}

/* Footer widget style */
#footer-widget-area .widget-area ul.xoxo li.widget-container {margin:0 0 30px; padding:0;}
#footer-widget-area .widget-area ul.xoxo li.widget-container ul li {border-bottom:1px solid #232323; box-shadow: 0px 1px 0px rgba(224, 224, 224, 0.14); -moz-box-shadow: 0px 1px 0px rgba(224, 224, 224, 0.14);  -webkit-box-shadow: 0px 1px 0px rgba(224, 224, 224, 0.14); }
#footer-widget-area .widget-area ul.xoxo li.widget-container ul li:last-child {border-bottom:none; box-shadow: none; -moz-box-shadow: none;  -webkit-box-shadow: none;}
#footer-widget-area .widget-title{color:#EAEAEA;}
#footer-widget-area .sidebar-line{background:#7E7E7E; }

/* Top bar widget style */
#top-bar ul {font-size:12px; list-style:none; margin:0;}
#top-bar ul li {float:left; margin:0;}
#top-bar ul li i{vertical-align:middle}
#top-bar ul li ul li a{padding:0 12px; border-right: 1px solid rgba(31, 31, 31, 0.196); box-shadow: 1px 0px 0px rgba(224, 224, 224, 0.102); -moz-box-shadow: 1px 0px 0px rgba(224, 224, 224, 0.102); -webkit-box-shadow: 1px 0px 0px rgba(224, 224, 224, 0.102);}
#top-bar ul li ul li:first-child a{padding-left:0px;}
#top-bar ul li ul li:last-child a{padding-right:0px; border-right: none; box-shadow: none; -moz-box-shadow: none; -webkit-box-shadow: none;}
#top-bar #topright-widget-area ul {float:right;}


/* Header widget style */
#header-widget-area.widget-area ul.xoxo li.widget-container {margin:0 0 10px; padding:0;}
#header-widget-area h1, #header-widget-area h2, #header-widget-area h3, #header-widget-area h4, #header-widget-area h5, #header-widget-area h6 {margin-bottom:0px;}

/* Search widget */
input.s{width: 207px; font-size:10px; color:#A1A1A1; height:22px; padding:2px 30px 2px 10px; margin-top:0px; text-transform:uppercase;}

/* CUSTOM - Recent post widget */
.widget-area ul.xoxo li.widget_pippin_recent_posts ul li:before{content: none; padding-right:0;}
.recent_post_widget_img img{float:left; margin-right:15px;}
.recent_post_widget_link_time{color:#949494; font-size:10px;}

/* WP Recent post widget */
.widget_recent_entries a{margin-left: -3px;}
.widget_recent_entries .post-date {color:#949494; font-size:10px;}

/* Menu widget */
.widget-area ul.xoxo li.widget_nav_menu ul.sub-menu {padding-left:15px; margin-top:9px;}
.widget-area ul.xoxo li.widget_nav_menu ul.sub-menu li:first-child{padding-top:9px;}
.widget-area ul.xoxo li.widget_nav_menu ul.sub-menu:before {content:""; display: block; margin-left: -15px; border-bottom:1px solid #E7E7E7;}
#footer-widget-area .widget-area ul.xoxo li.widget_nav_menu ul.sub-menu:before {border-bottom:1px solid #232323; box-shadow: 0px 1px 0px rgba(224, 224, 224, 0.14); -moz-box-shadow: 0px 1px 0px rgba(224, 224, 224, 0.14);  -webkit-box-shadow: 0px 1px 0px rgba(224, 224, 224, 0.14);}

/* Side menu widget */
.widget-area ul.xoxo li.widget_side_menu  ul {border:1px solid #e7e7e7; padding:5px 20px; -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px;}
.widget-area ul.xoxo li.widget_side_menu  ul li {border-style:dotted; border-color:#D8D8D8; padding:0px;}
.widget-area ul.xoxo li.widget_side_menu  ul li a {display:block; padding:9px 0;}
.widget-area ul.xoxo li.widget_side_menu  ul li:before {display:none;}
#sidebar_right .widget-area ul.xoxo li.widget_side_menu  ul li a:before {content: "\e3b3"; float:left; font-family: moon; color:#999; font-size:10px; speak: none; font-style: normal; font-weight: normal; line-height: 1; padding:6px 17px 0 3px; cursor:default; -webkit-font-smoothing: antialiased;}
#sidebar_left .widget-area ul.xoxo li.widget_side_menu  ul li a:after{content: "\e3b1"; float:right; font-family: moon; color:#999; font-size:10px; speak: none; font-style: normal; font-weight: normal; line-height: 1; padding:6px 10px 0 0; cursor:default; -webkit-font-smoothing: antialiased;}
.widget-area ul.xoxo li.widget_side_menu  ul li a:hover:after, .widget-area ul.xoxo li.widget_side_menu  ul li.current-menu-item a:after, .widget-area ul.xoxo li.widget_side_menu  ul li a:hover:before, .widget-area ul.xoxo li.widget_side_menu  ul li.current-menu-item a:before{color:inherit !important;}
.widget-area ul.xoxo li.widget_side_menu ul.sub-menu {padding-left:15px;}
.widget-area ul.xoxo li.widget_side_menu ul.sub-menu:before {content:""; display: block; margin-left: -15px; border-bottom:1px dotted #E7E7E7;}

/* Category widget */
.widget-area ul.xoxo li.widget_categories ul.children {padding-left:15px; margin-top:9px;}
.widget-area ul.xoxo li.widget_categories ul.children li:first-child{padding-top:9px;}
.widget-area ul.xoxo li.widget_categories ul.children:before {content:""; display: block; margin-left: -15px; border-bottom:1px solid #E7E7E7;}
#footer-widget-area .widget-area ul.xoxo li.widget_categories ul.children:before {border-bottom:1px solid #232323; box-shadow: 0px 1px 0px rgba(224, 224, 224, 0.14); -moz-box-shadow: 0px 1px 0px rgba(224, 224, 224, 0.14);  -webkit-box-shadow: 0px 1px 0px rgba(224, 224, 224, 0.14);}


/* Calendar widget */
#wp-calendar {max-width: 100%; font-size: 10px; background:none; }
#wp-calendar caption { text-align: right; color: #444; font-size: 12px; margin-bottom: 15px; text-decoration:underline; }
#wp-calendar thead { font-weight:bold; font-size: 10px; color: #444;}
#wp-calendar thead th { padding:0 0 10px 0; width: 36px; background:none; color:#444; text-shadow:none;}
#wp-calendar tbody { color: #696969; font-size: 13px; }
#wp-calendar tbody a { text-decoration:underline;}
#wp-calendar tbody td { background: #fafafa; padding:6px 8px; border-width: 1px; border-style: solid;border-color: #f3f3f3; text-align: center; }
#wp-calendar #today {background:#999; color:#f9f9f9;}
#wp-calendar #today a  {color:#f9f9f9;}
#wp-calendar tbody .pad, #wp-calendar tbody .pad:hover {border-color:#fff; background:none;}
#wp-calendar tbody td:hover { background: #fff; }
#wp-calendar tfoot #next { text-transform: uppercase; text-align: right; padding-left:60px;}
#wp-calendar tfoot #prev { text-transform: uppercase; padding-top: 10px; padding-right:60px;}

#footer-widget-area #wp-calendar caption {color:#dddddd;}
#footer-widget-area #wp-calendar thead {color: #dddddd;}
#footer-widget-area #wp-calendar tbody a { text-decoration:none;}
#footer-widget-area #wp-calendar #today a  {color:#ddd;}
#footer-widget-area #wp-calendar tbody td { background: #383838; padding:4px 0; border-width: 1px; border-style: solid;border-color: #444444;}
#footer-widget-area #wp-calendar tbody .pad {border:1px solid #444444; background: #444444;}
#footer-widget-area #wp-calendar tfoot td{border:1px solid #444444; background: #383838;}




/*---------------------------------------------------------------*/
/* Copyright area
/*---------------------------------------------------------------*/

#copyright-wrapper{width:100%; background:#282A2B;}
#copyright-container{width:940px; margin:0 auto; padding: 16px 0px;}
#copyright {width:470px; float:left; overflow:hidden; color:#b8b4b4; font-size: 11px;}
#copyright a, #footer-menu a{color:#BCBCBC;}
#footer-menu{float:right; text-align:right; font-size: 11px;}
#footer-menu ul{list-style:none; margin:0;}
#footer-menu ul li{float:left; }
#footer-menu ul li a{padding:0 12px; border-right: 1px solid #1E1E1E; box-shadow: 1px 0px 0px rgba(224, 224, 224, 0.102); -moz-box-shadow: 1px 0px 0px rgba(224, 224, 224, 0.102); -webkit-box-shadow: 1px 0px 0px rgba(224, 224, 224, 0.102);}
#footer-menu ul li:last-child a{padding-right:0px; border-right: none; box-shadow: none; -moz-box-shadow: none; -webkit-box-shadow: none;}




/*---------------------------------------------------------------*/
/* Portfolio
/*---------------------------------------------------------------*/

/* Filter */
ul.pf-filter{margin:0px 0px 40px; padding:0; border-top: 1px solid #E7E7E7; border-bottom: 1px solid #E7E7E7;}
ul.pf-filter li {list-style:none; float:left;	margin-right:25px; padding:10px 0 8px;}
ul.pf-filter li.active {border-bottom:2px solid #E7E7E7; margin-bottom:-1px;}

/* Grid */
ul.filterable-grid{margin:0 -20px 20px 0; padding:0;}
ul.filterable-grid.pf-one-column{margin:0;}
ul.filterable-grid li {overflow: hidden; position: relative; text-align: center; cursor: default;}

ul.pf-one-column li {list-style:none; min-height:270px;  margin:0 0 30px 0; padding-bottom:30px; border-bottom:1px solid #E7E7E7;}
ul.pf-one-column li img{width:540px; margin:0 30px 0 0;}
ul.pf-one-column li .pf-description {width:370px; font-size:13px; float:left; text-align:left; line-height:1.5;}
ul.pf-two-columns li {list-style:none; width:460px; height:290px; float:left; margin:0 20px 20px 0;}
ul.pf-three-columns li {list-style:none; width:300px; height:215px; float:left; margin:0 20px 20px 0;}
ul.pf-four-columns li {list-style:none; width:220px; height:160px; float:left; margin:0 20px 20px 0;}

/* Single portfolio post */
.portfolio-heading{margin-top:15px;}
.portfolio-item-text{float:left; height: 270px; width:495px;}
.portfolio_page_content {margin-bottom:40px; }
.portfolio_img {margin-bottom:18px;}
.portfolio_img img {padding:3px; border: 1px solid #ddd; background:#fff;}
#portfolio_details{border-left:1px solid #ddd; padding-left:15px; margin-top:35px;}
#portfolio_details .portfolio_detail_title{font-weight:bold; font-size:10px; padding-right:5px;}




/*---------------------------------------------------------------*/
/* Comments
/*---------------------------------------------------------------*/

/* Comments list */
#comments {margin-top:50px;}
.commentlist {list-style: none;	margin: 0;	padding: 0px;}
.commentlist li.comment {position: relative;}
.commentlist ol {list-style: decimal;}
.comment-wrapper  {background:#fcfcfc; margin-bottom:20px; margin-left: 75px; padding:15px 15px 20px; border: 1px solid #eee; box-shadow: 1px 1px 5px rgba(26, 26, 26, 0.078); -webkit-box-shadow: 1px 1px 5px rgba(26, 26, 26, 0.078); -moz-box-shadow: 1px 1px 5px rgba(26, 26, 26, 0.078);}
.children .comment-wrapper  {margin-left: 55px;}
.comment-avatar {float:left;}
.comment-meta {font-size: 12px; padding-bottom: 10px;}
.comment-meta span {font-weight:bold; padding-right:5px;}
.comment-body p {margin-bottom:10px;}
.comment-body p:last-child {margin-bottom:0px;}
.commentlist .children {list-style: none; margin: 0; padding:0 0 0 75px;}
.commentlist .children .children {padding:0 0 0 55px;}
.reply {float:right; }
.reply a{color: #A4A4A4; font-size:16px;}
.nopassword,.nocomments {display: none;}
.comment-awaiting-moderation{color:#999999; font-size:11px;}
.bypostauthor{}

/* Comments form */
#respond {overflow: hidden; position: relative; padding:0;}
#respond p {	margin: 0 0 5px;}
.children #respond { margin:0 0 50px; }
.depth-1  #respond {  margin:0 0 50px; }
#reply-title {margin-top:50px; }
.children #respond #reply-title {margin-top:20px; }
#respond label {margin-bottom:3px; font-size:12px; font-weight:bold; display:block;}
#respond input, #respond textarea {margin: 0 0 9px; width: 60%; }
#respond .form-submit input {width: auto;}
#cancel-comment-reply-link {display:block; margin-top:30px;}
#cancel-comment-reply-link i{font-size:16px; vertical-align: middle; padding-right:5px;}




/*---------------------------------------------------------------*/
/* WordPress core
/*---------------------------------------------------------------*/

.alignnone {margin: 5px 20px 20px 0;}
.aligncenter, div.aligncenter {display:block; margin: 5px auto 5px auto;}
.alignright {float:right; margin: 5px 0 20px 20px;}
.alignleft {float:left; margin: 5px 20px 20px 0;}
.aligncenter {display: block; margin: 5px auto 5px auto;}
a img.alignright {float:right; margin: 5px 0 20px 20px;}
a img.alignnone {margin: 5px 20px 20px 0;}
a img.alignleft {float:left; margin: 5px 20px 20px 0;}
a img.aligncenter {display: block; margin-left: auto; margin-right: auto}
.wp-caption {border: 1px solid #ddd; background:#fff; color:#999; max-width: 96%; padding: 7px 3px 0px; text-align: center;  -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;}
.wp-caption.alignnone {margin: 5px 20px 20px 0;}
.wp-caption.alignleft {margin: 5px 20px 20px 0;}
.wp-caption.alignright {margin: 5px 0 20px 20px;}
.wp-caption img {border: 0 none; height: auto; margin:0; max-width: 98.5%; padding:0; width: auto;}
.wp-caption p.wp-caption-text {font-size:11px; line-height:17px; margin:0; padding:0 4px 5px;}
blockquote.left {margin-right:20px; text-align:right; margin-left:0; width:33%; float:left;}
blockquote.right {margin-left:20px; text-align:left; margin-right:0; width:33%; float:right;}
.sticky{}

.gallery {}
.gallery dt{margin-bottom:10px;}
.gallery .gallery-item { margin-top: 0px !important; }
.gallery img {border:none !important; -webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;}
.gallery img:hover {border:none !important; opacity:0.8; filter:alpha(opacity=80);
-webkit-transition: all 0.3s ease-in;
 -moz-transition: all 0.3s ease-in;
 -o-transition: all 0.3s ease-in;
 transition: all 0.3 ease-in;}
.gallery .gallery-caption {color:#999; margin: -10px 0px 20px 0px;}
.gallery br { clear: both }




/*---------------------------------------------------------------*/
/* IE6
/*---------------------------------------------------------------*/

#ie-message {background:#C00; text-align:center; border-bottom:1px solid #900; color: #fff; position:absolute; top:0; padding:5px; width:100%;}
#ie-message a {color: #D1D1D1;}




/*---------------------------------------------------------------*/
/* Plugins
/*---------------------------------------------------------------*/

/* Flickr */
.wpfw_flickr_widget img {margin-right: 17px; margin-bottom: 10px;}
.wpfw_flickr_widget img:hover {opacity:0.6;  filter:alpha(opacity=60);}
.flickr {margin-right: -17px; margin-bottom: -10px; text-align: center;}
#footer-widget-area .flickr {text-align: left;}
#footer-widget-area .wpfw_flickr_widget img {width:54px; height:54px; padding:3px; border:1px solid #4A4A4A;}
#footer-widget-area .wpfw_flickr_widget .widget-title {float:none !important;}

/* Contact Form 7 */
.wpcf7 p{margin-bottom:10px; font-size:12px; font-weight:bold;}
.wpcf7 p i {font-size:10px; color: #888; margin-left: 4px; font-weight: normal; font-style:normal;}
.wpcf7 input {width:400px; height:27px; margin-top:5px;}
.wpcf7 input[type='submit'] {width:auto; height: 33px; cursor:pointer;}
.wpcf7 textarea {width:550px; height:180px; margin-top:5px;}
.column-1-2 .wpcf7 textarea {width:400px;}
.wpcf7 input[type='checkbox']{width:auto !important; height:auto !important;border:none;}
.wpcf7 input[type='radio']{width:auto !important; height:auto !important;border:none;}
.wpcf7-acceptance {width:auto !important; height:auto !important;border:none;}
.wpcf7-acceptance:hover {border:none;}
.wpcf7-captchar, .wpcf7-quiz {max-width:80px; height:auto !important;}

/* Revolution Slider */
.tp-caption.kickstart_button a, .tp-caption.kickstart_button a:hover{color:#ffffff; text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.251) !important;}
.tp-caption.kickstart_button:hover {color:#ffffff;
background-image: -moz-linear-gradient(top,  rgba(255,255,255,0.23) 0%, rgba(255,255,255,0) 100%);
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.23)), color-stop(100%,rgba(255,255,255,0)));
background-image: -webkit-linear-gradient(top,  rgba(255,255,255,0.23) 0%,rgba(255,255,255,0) 100%);
background-image: -o-linear-gradient(top,  rgba(255,255,255,0.23) 0%,rgba(255,255,255,0) 100%);
background-image: -ms-linear-gradient(top,  rgba(255,255,255,0.23) 0%,rgba(255,255,255,0) 100%);
background-image: linear-gradient(to bottom,  rgba(255,255,255,0.23) 0%,rgba(255,255,255,0) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3bffffff', endColorstr='#00ffffff',GradientType=0 );
}

.tp-leftarrow.default {background:url(images/rev_slider_arrows.png) no-Repeat top left !important; margin-left:0px !important; }
.tp-rightarrow.default {background:url(images/rev_slider_arrows.png) no-Repeat top right !important;	margin-left:0px !important; }
.tp-leftarrow.default:hover {background-position:bottom left !important; }
.tp-rightarrow.default:hover {background-position:bottom right !important; }




/*---------------------------------------------------------------*/
/* Retina
/*---------------------------------------------------------------*/

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (-moz-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min-device-pixel-ratio: 1.5) {

	.default-logo {display:none;}
	.retina-logo {display:inline-block;}

	.tp-leftarrow.default {background-image:url(images/rev_slider_arrows@2x.png) !important; background-size: 80px 80px;}
	.tp-rightarrow.default {background-image:url(images/rev_slider_arrows@2x.png) !important; background-size: 80px 80px;}

}

/*------------------------------------------------------------------------------*/
/* THANKS FOR BUYING OUR THEME! - MNKY Studio | http://mnkystudio.com
/*------------------------------------------------------------------------------*/
