@font-face {
    font-family: 'proxima_nova_rgbold';
    src: url('../fonts/mark_simonson_-_proxima_nova_bold-webfont.woff2') format('woff2'),
         url('../fonts/mark_simonson_-_proxima_nova_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'proxima_nova_rgregular';
    src: url('../fonts/mark_simonson_-_proxima_nova_regular-webfont.woff2') format('woff2'),
         url('../fonts/mark_simonson_-_proxima_nova_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
	font-family: 'proxima_nova_rgregular';
	font-size: 15px;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'proxima_nova_rgbold';
        font-weight:normal;
}

#title-wrapper {
	background: #039953;
	border:none;
}
#top-bar-wrapper {
    border-bottom: 2px solid #F86B35;
}
#header-wrapper {
	box-shadow: 0 10px 15px 0 rgba(0,0,0,0.05);
    z-index:9;
}

#top-bar {
	padding: 10px 0px 0 0;
}

#top-bar ul li ul li:first-child a {
    padding-left: 10px;
}

#header #logo {
    // margin-top: 15px;
    bottom:5px ;
}

.su-tabs .pane-title {
  background: #ffffff;
}

.text-bolds {
	font-weight: 700;
}

.page-title h1 {
    padding: 10px 20px 10px;
    text-transform: uppercase;
    font-size: 15px;
}

.head {
    margin-bottom: 5px;
    color: #F86B35;
    font-weight: normal;
    font-size: 14px;
    
}

#primary-main-menu li a {
    font-family: 'proxima_nova_rgbold';
    font-weight: normal;
}

h2 {
    font-size: 27px;
}
.frm_style_formidable-style.with_frm_style label.frm_primary_label {
   font-weight:normal;
}

.button {
    font-family: 'proxima_nova_rgregular';
}

.heading-wrapper h6 > .heading-line-left {
    border-color:#F86B35;
}

.heading-wrapper h6 > .heading-line-right {
    border-color:#F86B35;
}

.margin-top-header {
    margin-right: 5px;
}

li {
    line-height: 24px;
}

.su-tabs .pane-title:hover {
    background:#039953;
    color: #ffffff;
}
.su-tabs .pane-title {
    font-family: 'proxima_nova_rgbold';
    font-weight: normal;
    text-transform: uppercase;
}
.su-tabs .pane-title.su-tabs-current {
    font-family: 'proxima_nova_rgbold';
    font-weight: normal;
    text-transform: uppercase;
}

.su-button:hover {
    background-image: none;
    background:#ea5820; 
}

.filterable-grid li .pf-hargalokasi{
    position: absolute;
    width: 100%;
    font-size: 12px;
    font-weight: 600;
    padding: 5px 15px;
    text-transform: uppercase;
    color: #F86B35;
    text-align: left;
    bottom: 0px;
    border-bottom: 2px solid #F86B35;

}


.filterable-grid.pf-four-columns li .pf-hargalokasi{padding: 8px 15px; top:5px;}
.pf-hargalokasi {
    background:#fff; 
}

select {
	    color: #696969;
    border-color: #ddd;
    padding: 8px 10px;
}

input[type='submit'] {
	font-family: 'proxima_nova_rgregular';
	cursor: pointer;
}

// .filterable-grid li .pf-harga{
//     position: absolute;
//     width: 50%;
//     font-size: 17px;
//     font-weight: 600;
//     padding: 8px 15px;
//     text-transform: uppercase;
//     color: #fff;
//     text-align: left;
//     top: 10px;

// }
// .filterable-grid.pf-four-columns li .pf-harga{padding: 8px 15px; top:5px;}
// .pf-harga {
//     background-color:#f7931d;
// }

.putih {
    color: #fff;
}

i {
    font-style: normal;
}

.custom-list {
    font-family: 'proxima_nova_rgregular';
    font-size: 15px;
   
}

.custom-list i {
 line-height: 26px;
}

.margin-blank {
    margin-bottom: 0px;
}

#primary-main-menu li ul li a {
    text-transform: uppercase;
}

th:first-child, th:last-child {
    border-radius: 0;
}

.ui-corner-all {
    border-radius: 0 !important;
}

.ui-datepicker th {
    font-size: 12px;
    text-transform: uppercase;
}

.ui-widget {
    font-family: 'proxima_nova_rgbold' !important;
}

.ui-widget select {
    font-family: 'proxima_nova_rgbold' !important;
    font-size: 12px;
}

.su-spoiler-title {
    font-family: 'proxima_nova_rgbold';
    font-size: 16px;
}

.su-spoiler-title .spoiler-button {
    font-size: 14px;
    color: #F86B35;
}

.heading-wrapper strong {
  font-weight:normal;
}

.wp-pagenavi a, .wp-pagenavi span {
	font-family: 'proxima_nova_rgbold';
    border: 1px solid #696969;
    padding: 7px 12px;
    color: #444444;
    
}

.su-box-content {
	color:#727272 !important;
}

.w3eden .table > tbody > tr > td {
	text-align: left;
}

.w3eden .table > thead > tr > th {
    font-weight:normal;
}

.wpdm-download-link {
	color: #fff !important;
	padding: 6px 12px;
	font-size: 13px;
	text-align: center;
    white-space: nowrap;
    background-color: #5cb85c !important;
    border-color: #4cae4c;
	vertical-align: middle;
    -ms-touch-action: manipulation;
	border: 1px solid transparent;
    border-radius: 4px;
    touch-action: manipulation;
    cursor: pointer;
}

.wpdm-download-link:hover {

	font-style:normal !important;
	text-align: center;
    white-space: nowrap;
    background-color: #4cae4c !important;
    border-color: #4cae4c;
	vertical-align: middle;
    -ms-touch-action: manipulation;
	border: 1px solid transparent;
    border-radius: 4px;
    touch-action: manipulation;
    cursor: pointer;
}

fieldset {
	border:none !important;
}

#footer-menu ul li a {
	border-right:none;
}
#copyright a {
	color:#fff !important;
}
.su-quote i {
	font-size: 40px;
}

.su-quote-shell {
	font-weight:normal;
	font-size:16px;
}

.mobile-header-image {
	margin-right:10px !important;
}

.flowpaper_viewer {
	background:#ffffff !important;
}

#documentViewer {
	background:#ffffff !important;
}

.bold-fonts {
    font-family: 'proxima_nova_rgbold';
}

.cont-fonts {
    font-size: 14px;
    margin: 0 0 7px 0;
}

.divider {
    margin: 0.5em 0;
    border-top: 1px dashed #E5E5E5;
}

.underlist {
    font-size: 14px;
    margin: 0 0 3px 0;
}

#primary-main-menu li ul > li > a {
    background: #ffffff;
    opacity: 1;
}

#primary-main-menu li ul > li.current-menu-item > a {
    color: #039953 !important;
    border-left: 2px solid #d53d34;
}

#primary-main-menu li ul li a:hover{
    opacity:1; 
    color:#039953 !important;
    border-left: 2px solid #d53d34;
}

.service-content {
    font-size;15px;
}

.tablepress .odd td {
    background-color: #fff;
}

#copyright {
    color: #ffffff !important;
}


.ai1ec-month-view th {
    background: #039953 !important;
}

.ai1ec-month-view th {
    color: #fff !important;
    text-shadow: none;
}

.aigpl-gallery-slider button.slick-arrow {
    width:50px;
}

.aigpl-gallery-slider button.slick-next, .aigpl-gallery-slider button.slick-next:hover, .aigpl-gallery-slider button.slick-next:focus, .aigpl-gallery-slider button.slick-next:active {
    background: #039953 url(../images/arrow-right.png) center center no-repeat !important;
    border-radius: 100% !important;
}

.aigpl-gallery-slider button.slick-prev, .aigpl-gallery-slider button.slick-prev:hover, .aigpl-gallery-slider button.slick-prev:focus, .aigpl-gallery-slider button.slick-prev:active {
    background: #039953 url(../images/arrow-left.png) center center no-repeat !important;
    border-radius: 100% !important;
}

@media only screen and (max-width: 979px) {
    .toggleMenu {
        background: #ffffff !important;
        color: #F86B35 !important;
    }
    .toggleMenu span{border-bottom: 10px double #F86B35 !important; border-top:3px solid #F86B35 !important;}
    #primary-main-menu li a, #primary-main-menu li ul li a, #primary-main-menu li ul li:last-child > a, #primary-main-menu > li.current-menu-item > a, #primary-main-menu > li.current-menu-ancestor > a, #primary-main-menu > li:hover > a{
        background-color: #1584c5 !important;
    }
}

.footer-mitra {
    color: #fff !important;
}


@media only screen and (min-width: 768px) and (max-width: 979px) {
    .toggleMenu {
        background: #ffffff !important;
        color: #F86B35 !important;
    }
    .toggleMenu span{border-bottom: 10px double #F86B35 !important; border-top:3px solid #F86B35 !important;}
	.mobile-header-image {
		height:20px;
		width:auto;
	}

}
@media only screen and (max-width: 767px) {
    .toggleMenu {
        background: #ffffff !important;
        color: #1584c5 !important;
    }
    .toggleMenu span{border-bottom: 10px double #1584c5 !important; border-top:3px solid #1584c5 !important;}
	.mobile-header-image {
		height:20px;
		width:auto;
	}
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
    .toggleMenu {
        background: #ffffff !important;
        color: #1584c5 !important;
    }
    .toggleMenu span{border-bottom: 10px double #1584c5 !important; border-top:3px solid #1584c5 !important;}
	.mobile-header-image {
		height:20px;
		width:auto;
	}
}
@media only screen and (max-width: 479px) {
    .toggleMenu {
        background: #ffffff !important;
        color: #1584c5 !important;
    }
    .toggleMenu span{border-bottom: 10px double #1584c5 !important; border-top:3px solid #1584c5 !important;}
	.mobile-header-image {
		height:20px;
		width:auto;
	}
}