@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');


body {
	background:rgba(239, 239, 239, 0.62) !important;
}
.login .message, .login #login_error {
    border-left: none;
	background:#d32c46;
	color:#ffffff;
}

.login form {    
    -webkit-box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.05);
    box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.05);
	-moz-box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.05);
	border-radius:5px;
}

.login .button-primary {
	background: #3ecf8e;
    border-color: #3ecf8e;
    -webkit-box-shadow: 0 4px 6px rgba(50,50,93,.11),0 1px 3px rgba(0,0,0,.08);
	-mox-box-shadow: 0 4px 6px rgba(50,50,93,.11),0 1px 3px rgba(0,0,0,.08);
	box-shadow: 0 4px 6px rgba(50,50,93,.11),0 1px 3px rgba(0,0,0,.08);
    color: #ffffff;
    text-decoration: none;
    text-shadow: none;
}

.login .button-primary {
    /* float: right; */
    width: 100%;
	font-size:13px;
	text-transform: uppercase;
	margin-top:20px;
	font-family: 'Roboto', sans-serif;
	height:40px !important;
	font-weight:700;
}

.login .button-primary:hover {
	background: #fff;
    border-color: #ffffff;
    -webkit-box-shadow: 0 4px 6px rgba(50,50,93,.11),0 1px 3px rgba(0,0,0,.08);
	-mox-box-shadow: 0 4px 6px rgba(50,50,93,.11),0 1px 3px rgba(0,0,0,.08);
	box-shadow: 0 4px 6px rgba(50,50,93,.11),0 1px 3px rgba(0,0,0,.08);
    color: #7795f8;
}

.login label {
    color: #72777c;
	font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

.login form .input, .login input[type="text"] {
	border:none;
	border-bottom:2px solid #3ecf8e !important;
	box-shadow:none;
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
	line-height: 30px;
	font-size: 17px !important;
}

#login {
	width:370px;
}

.login form {
	padding: 96px 44px 46px;
}

#login h1 a, .login h1 a {
	padding-bottom: 10px;
	position: absolute !important;
	margin: 30px 240px;						
}

.login #nav a, .login #backtoblog a {
	display:none;
}

input[type="checkbox"] {
	border-radius:100% !important;
	border: 2px solid #3ecf8e !important;
}

input[type="checkbox"]:checked:before {
	margin: -5px 0 0 -4px;
    color: #3ecf8e;
}