/* 2.1 fixes */

tr.order-total th {color:#696969 !important; border-radius: 0px !important;}
.discount th {color: #444 !important}
.woocommerce .tax-rate th {color:#444;}
input {background:none; box-shadow:none; vertical-align:middle;}
#ship-to-different-address-checkbox {vertical-align:-8px;}
#ship-to-different-address {margin-top:-5px !important;}

/* General Style Fix */

.entry-content .woocommerce {
	min-height: 400px;
}

.shop-template h1.page-title {
	display: none;
}

.shop-template .img-wrap, .woocommerce .img-wrap {
	border-bottom: 1px solid #e7e7e7;
	position: relative;
}

.shop-template .images img {
	border: 1px solid #e7e7e7;
}

.shop-template .product-inner, .woocommerce .product-inner {
	min-height: 94px;
	padding: 10px 15px;
}

.shop-template h2, .entry-content .woocommerce h2 {
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
	text-align: left;
}

.shop-template h3, .entry-content .woocommerce h3 {
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
	text-align: left;
}

.customer_details {
	margin-bottom: 10px;
}

.woocommerce .cart_table_item .quantity {
	margin: 0;
}

.woocommerce .screen-reader-text {
	display: none;
}

.woocommerce input#s {
	width: 135px;
	height: 23px;
	vertical-align:top;
}

.woocommerce button {
	border: none;
}

.woocommerce .widget-area ul.xoxo li.widget-container ul li:before {
	display: none;
}

.woocommerce .widget-area ul.xoxo li.widget-container.widget_product_categories ul li:before, .woocommerce .widget-area ul.xoxo li.widget-container.widget_layered_nav ul li:before {
	display: inline-block;
}

.woocommerce .widget-container .star-rating {
	margin: 5px 0px;
}

.woocommerce .variations .reset_variations {
	display: inline-block;
	padding:5px 0 0;
	float:right;
}

.woocommerce .variations td.label {
	padding: 15px 0 0;
}

.woocommerce .orderby {
	border: 1px solid #e7e7e7;
	color: #666;
	font-size: 11px;
	padding: 5px 10px;
}

.woocommerce .country_to_state, .woocommerce .state_select {
	border: 1px solid #e7e7e7;
	color: #666;
	font-size: 13px;
	padding: 9px 8px;
}

.woocommerce .product_meta, .woocommerce .woocommerce-result-count, .woocommerce-page .woocommerce-result-count {
	font-size: 11px;
}

.woocommerce .related ul.products li.product,.woocommerce  .related ul li.product,.woocommerce  .upsells.products ul.products li.product,.woocommerce .upsells.products ul li.product,.woocommerce-page  .related ul.products li.product,.woocommerce-page .related ul li.product,.woocommerce-page .upsells.products ul.products li.product,.woocommerce-page .upsells.products ul li.product {
	width: 23.7%;
}

.woocommerce ul.products li.product,.woocommerce-page ul.products li.product {
	float: left;
	margin: 0px 1.1% 1.1% 0px;
	padding: 0;
	position: relative;
	width: 23.7%;
	margin-left: 0;
	border: 1px solid #e7e7e7;
}

.woocommerce  ul.products li.last,.woocommerce-page ul.products li.last {
	margin-right: 0;
}

.woocommerce .products .product-category .count {background:none;}

.woocommerce #searchsubmit { 
	cursor:pointer;
}

.woocommerce #order_comments_field .input-text {min-height:200px;}

.woocommerce #commentform span.required{
display:none;
}

/* Table Fix */
.woocommerce table {
	background-color: #fff;
	border-collapse: collapse;
	border-spacing: 0;
	padding: 0;
	margin-bottom: 18px;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	border-radius: 0px;
	width: 100%;
}

.woocommerce th {
	color: #fff;
	font-weight: bold;
	padding: 10px 30px 10px 30px;
	text-align: left;
	text-transform: uppercase;
	font-size: 12px;
	text-shadow: none;
}

.woocommerce tr {
	color: #696969;
	text-align: inherit;
}

.woocommerce tr:nth-child(odd) td {
	background: #fff;
}

.woocommerce td {
	padding: 10px;
	vertical-align: middle;
}

.woocommerce th:first-child {
	-moz-border-radius: 6px 0 0 0;
	-webkit-border-radius: 6px 0 0 0;
	border-radius: 6px 0 0 0;
}

.woocommerce th:last-child {
	-moz-border-radius: 0 6px 0 0;
	-webkit-border-radius: 0 6px 0 0;
	border-radius: 0 6px 0 0;
}

.woocommerce th:only-child {
	-moz-border-radius: 6px 6px 0 0;
	-webkit-border-radius: 6px 6px 0 0;
	border-radius: 6px 6px 0 0;
}

.woocommerce .cart-subtotal th, .woocommerce .shipping th, .woocommerce .total th {
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	border-radius: 0px;
}

.woocommerce .shop_attributes th {
	color: #444;
}

.woocommerce form .form-row input.input-text, .woocommerce table.cart td.actions .coupon .input-text, .woocommerce #content table.cart td.actions .coupon .input-text, .woocommerce-page table.cart td.actions .coupon .input-text, .woocommerce-page #content table.cart td.actions .coupon .input-text {
	height: 35px;
}

.woocommerce table.shop_table tfoot th, .woocommerce-page table.shop_table tfoot td, .woocommerce-page table.shop_table tfoot th {
	background: #F8F8F8;
}

.woocommerce .cart-collaterals .cart_totals table .cart-subtotal th, .woocommerce .cart-collaterals .cart_totals table .shipping th, .woocommerce .cart-collaterals .cart_totals table .total th {
	color: #696969;
}

 .woocommerce .cart-collaterals .cart_totals table .shipping th {
font-weight:normal;
}

.woocommerce .cart-collaterals .cart_totals table {
	border: 1px solid rgba(0,0,0,0.1);
}

/* Layouts */
#content_full.shop-template .images {
	width: 30%;
}

#content_full.shop-template div.summary {
	width: 64%;
}


/* Woocomerce Style (Edited) */
.clear {
	clear: both;
}

.nobr {
	white-space: nowrap;
}

@font-face {
	font-family:'star';
	src:url('fonts/star.eot');
	src:url('fonts/star.eot?#iefix') format('embedded-opentype'),url('fonts/star.woff') format('woff'),url('fonts/star.ttf') format('truetype'),url('fonts/star.svg#star') format('svg');
	font-weight:normal;
	font-style:normal;
}

.woocommerce-message,.woocommerce-error,.woocommerce-info {
	padding: 1em 1em 1em 3.5em;
	margin: 0 0 2em;
	position: relative;
	background: #fff;
	border: 1px solid #e7e7e7;
	color: #5e5e5e;
	list-style: none outside;
	width: auto;
}

.woocommerce-message:after,.woocommerce-error:after,.woocommerce-info:after {
	content: "";
	display: block;
	clear: both;
}

.woocommerce-message:before,.woocommerce-error:before,.woocommerce-info:before {
	content: "";
	height: 1.5em;
	width: 1.5em;
	display: block;
	position: absolute;
	top: 0;
	left: 1em;
	font-family: sans-serif;
	font-size: 1em;
	line-height: 1.5;
	text-align: center;
	color: #fff;
	text-shadow: 0 1px 0 rgba(0,0,0,0.2);
	padding-top: 1em;
	box-shadow: inset 0 -1px 0 0 rgba(0,0,0,0.1);
	-webkit-box-shadow: inset 0 -1px 0 0 rgba(0,0,0,0.1);
	-moz-box-shadow: inset 0 -1px 0 0 rgba(0,0,0,0.1);
}

.woocommerce-message .button,.woocommerce-error .button,.woocommerce-info .button {
	float: right;
}

.woocommerce-message li,.woocommerce-error li,.woocommerce-info li {
	list-style: none outside;
	padding-left: 0;
	margin-left: 0;
}

.woocommerce-message {
	border-top: 3px solid #8fae1b;
	background: #F1FFDA;
}

.woocommerce-message:before {
	background-color: #8fae1b;
	content: "\2713";
}

.woocommerce-message a.button{
	background-color:#8fae1b !important;
}

.woocommerce-info {
	border-top: 3px solid #1e85be;
	background: #E3E7FF;
}

.woocommerce-info:before {
	background-color: #1e85be;
	content: "i";
	font-family: Times,Georgia,serif;
	font-style: italic;
}

.woocommerce-error {
	background: #FFE2E2;
	border-top: 3px solid #b81c23;
}

.woocommerce-error:before {
	background-color: #b81c23;
	content: "\00d7";
	font-weight: 700;
}

p.demo_store {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	margin: 0;
	width: 100%;
	font-size: 1em;
	padding: .5em 0;
	text-align: center;
	background: #ad74a2;
	background: -webkit-gradient(linear,left top,left bottom,from(#ad74a2),to(#96588a));
	background: -webkit-linear-gradient(#ad74a2,#96588a);
	background: -moz-linear-gradient(center top,#ad74a2 0%,#96588a 100%);
	background: -moz-gradient(center top,#ad74a2 0%,#96588a 100%);
	border: 1px solid #96588a;
	color: #ffffff;
	z-index: 99998;
	box-shadow: inset 0 0 0 3px rgba(255,255,255,0.2);
	-webkit-box-shadow: inset 0 0 0 3px rgba(255,255,255,0.2);
	-moz-box-shadow: inset 0 0 0 3px rgba(255,255,255,0.2);
}

.admin-bar p.demo_store {
	top: 28px;
}

.woocommerce small.note,.woocommerce-page small.note {
	display: block;
	color: #777777;
	font-size: 11px;
	line-height: 21px;
	margin-top: 10px;
}

.woocommerce .woocommerce-breadcrumb,.woocommerce-page .woocommerce-breadcrumb {
	margin: 0 0 1em;
	padding: 0;
	font-size: 0.92em;
	color: #777777;
}

.woocommerce .woocommerce-breadcrumb:after,.woocommerce-page .woocommerce-breadcrumb:after {
	content: "";
	display: block;
	clear: both;
}

.woocommerce .woocommerce-breadcrumb a,.woocommerce-page .woocommerce-breadcrumb a {
	color: #777777;
}

.woocommerce .col2-set,.woocommerce-page .col2-set {
	width: 100%;
	margin-bottom: 18px;
}

.woocommerce .col2-set:after,.woocommerce-page .col2-set:after {
	content: "";
	display: block;
	clear: both;
}

.woocommerce .col2-set .col-1,.woocommerce-page .col2-set .col-1 {
	float: left;
	width: 48%;
}

.woocommerce .col2-set .col-2,.woocommerce-page .col2-set .col-2 {
	float: right;
	width: 48%;
}

.woocommerce div.product,.woocommerce #content div.product,.woocommerce-page div.product,.woocommerce-page #content div.product {
	margin-bottom: 0;
	position: relative;
}

.woocommerce div.product .product_title,.woocommerce #content div.product .product_title,.woocommerce-page div.product .product_title,.woocommerce-page #content div.product .product_title {
	clear: none;
	margin-top: 0;
	padding: 0;
}

.woocommerce div.product span.price,.woocommerce div.product p.price,.woocommerce #content div.product span.price,.woocommerce #content div.product p.price,.woocommerce-page div.product span.price,.woocommerce-page div.product p.price,.woocommerce-page #content div.product span.price,.woocommerce-page #content div.product p.price {
	color: #85ad74;
	font-size: 22px;
}

.woocommerce div.product span.price ins,.woocommerce div.product p.price ins,.woocommerce #content div.product span.price ins,.woocommerce #content div.product p.price ins,.woocommerce-page div.product span.price ins,.woocommerce-page div.product p.price ins,.woocommerce-page #content div.product span.price ins,.woocommerce-page #content div.product p.price ins {
	background: inherit;
}

.woocommerce div.product span.price del,.woocommerce div.product p.price del,.woocommerce #content div.product span.price del,.woocommerce #content div.product p.price del,.woocommerce-page div.product span.price del,.woocommerce-page div.product p.price del,.woocommerce-page #content div.product span.price del,.woocommerce-page #content div.product p.price del {
	font-size: 0.67em;
	color: rgba(145,145,145,0.5);
}

.woocommerce div.product p.stock,.woocommerce #content div.product p.stock,.woocommerce-page div.product p.stock,.woocommerce-page #content div.product p.stock {
	font-size: 0.92em;
}

.woocommerce div.product .stock,.woocommerce #content div.product .stock,.woocommerce-page div.product .stock,.woocommerce-page #content div.product .stock {
	color: #85ad74;
}

.woocommerce div.product .out-of-stock,.woocommerce #content div.product .out-of-stock,.woocommerce-page div.product .out-of-stock,.woocommerce-page #content div.product .out-of-stock {
	color: red;
}

.woocommerce div.product div.images,.woocommerce #content div.product div.images,.woocommerce-page div.product div.images,.woocommerce-page #content div.product div.images {
	float: left;
	width: 48%;
	margin-bottom: 2em;
}

.woocommerce div.product div.images img,.woocommerce #content div.product div.images img,.woocommerce-page div.product div.images img,.woocommerce-page #content div.product div.images img {
	display: block;
	width: 100%;
	height: auto;
}

.woocommerce div.product div.images div.thumbnails,.woocommerce #content div.product div.images div.thumbnails,.woocommerce-page div.product div.images div.thumbnails,.woocommerce-page #content div.product div.images div.thumbnails {
	padding-top: 1em;
}

.woocommerce div.product div.images div.thumbnails:after,.woocommerce #content div.product div.images div.thumbnails:after,.woocommerce-page div.product div.images div.thumbnails:after,.woocommerce-page #content div.product div.images div.thumbnails:after {
	content: "";
	display: block;
	clear: both;
}

.woocommerce div.product div.images div.thumbnails a,.woocommerce #content div.product div.images div.thumbnails a,.woocommerce-page div.product div.images div.thumbnails a,.woocommerce-page #content div.product div.images div.thumbnails a {
	float: left;
	width: 30.75%;
	margin-right: 3.8%;
}

.woocommerce div.product div.images div.thumbnails a.last,.woocommerce #content div.product div.images div.thumbnails a.last,.woocommerce-page div.product div.images div.thumbnails a.last,.woocommerce-page #content div.product div.images div.thumbnails a.last {
	margin-right: 0;
	margin-bottom:10px;
}

.woocommerce div.product div.images div.thumbnails a.first,.woocommerce #content div.product div.images div.thumbnails a.first,.woocommerce-page div.product div.images div.thumbnails a.first,.woocommerce-page #content div.product div.images div.thumbnails a.first {
	clear: both;
}

.woocommerce div.product div.summary,.woocommerce #content div.product div.summary,.woocommerce-page div.product div.summary,.woocommerce-page #content div.product div.summary {
	float: right;
	width: 48%;
	margin-bottom: 2em;
}

.woocommerce div.product div.social,.woocommerce #content div.product div.social,.woocommerce-page div.product div.social,.woocommerce-page #content div.product div.social {
	text-align: right;
	margin: 0 0 1em;
}

.woocommerce div.product div.social span,.woocommerce #content div.product div.social span,.woocommerce-page div.product div.social span,.woocommerce-page #content div.product div.social span {
	margin: 0 0 0 2px;
}

.woocommerce div.product div.social span span,.woocommerce #content div.product div.social span span,.woocommerce-page div.product div.social span span,.woocommerce-page #content div.product div.social span span {
	margin: 0;
}

.woocommerce div.product div.social span .stButton .chicklets,.woocommerce #content div.product div.social span .stButton .chicklets,.woocommerce-page div.product div.social span .stButton .chicklets,.woocommerce-page #content div.product div.social span .stButton .chicklets {
	padding-left: 16px;
	width: 0;
}

.woocommerce div.product div.social iframe,.woocommerce #content div.product div.social iframe,.woocommerce-page div.product div.social iframe,.woocommerce-page #content div.product div.social iframe {
	float: left;
	margin-top: 3px;
}

.woocommerce div.product .woocommerce-tabs,.woocommerce #content div.product .woocommerce-tabs,.woocommerce-page div.product .woocommerce-tabs,.woocommerce-page #content div.product .woocommerce-tabs {
	clear: both;
}

.woocommerce div.product .woocommerce-tabs ul.tabs,.woocommerce #content div.product .woocommerce-tabs ul.tabs,.woocommerce-page div.product .woocommerce-tabs ul.tabs,.woocommerce-page #content div.product .woocommerce-tabs ul.tabs {
	list-style: none;
	padding: 0 0 0 1em;
	margin: 0 0 1.618em;
	overflow: hidden;
	position: relative;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li,.woocommerce #content div.product .woocommerce-tabs ul.tabs li,.woocommerce-page div.product .woocommerce-tabs ul.tabs li,.woocommerce-page #content div.product .woocommerce-tabs ul.tabs li {
	border: 1px solid #e7e7e7;
	background: #f7f6f7;
	display: inline-block;
	position: relative;
	z-index: 0;
	margin: 0 -5px;
	padding: 0 1em;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li a,.woocommerce #content div.product .woocommerce-tabs ul.tabs li a,.woocommerce-page div.product .woocommerce-tabs ul.tabs li a,.woocommerce-page #content div.product .woocommerce-tabs ul.tabs li a {
	display: inline-block;
	padding: .5em 0;
	font-weight: normal;
	color: #5e5e5e;
	text-shadow: 0 1px 0 rgba(255,255,255,0.8);
	text-decoration: none;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li a:hover,.woocommerce #content div.product .woocommerce-tabs ul.tabs li a:hover,.woocommerce-page div.product .woocommerce-tabs ul.tabs li a:hover,.woocommerce-page #content div.product .woocommerce-tabs ul.tabs li a:hover {
	text-decoration: none;
	color: #777777;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li.active,.woocommerce #content div.product .woocommerce-tabs ul.tabs li.active,.woocommerce-page div.product .woocommerce-tabs ul.tabs li.active,.woocommerce-page #content div.product .woocommerce-tabs ul.tabs li.active {
	background: #ffffff;
	z-index: 2;
	border-bottom-color: #ffffff;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li.active a,.woocommerce #content div.product .woocommerce-tabs ul.tabs li.active a,.woocommerce-page div.product .woocommerce-tabs ul.tabs li.active a,.woocommerce-page #content div.product .woocommerce-tabs ul.tabs li.active a {
	color: inherit;
	text-shadow: inherit;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li.active:before,.woocommerce #content div.product .woocommerce-tabs ul.tabs li.active:before,.woocommerce-page div.product .woocommerce-tabs ul.tabs li.active:before,.woocommerce-page #content div.product .woocommerce-tabs ul.tabs li.active:before {
	box-shadow: 2px 2px 0 #ffffff;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li.active:after,.woocommerce #content div.product .woocommerce-tabs ul.tabs li.active:after,.woocommerce-page div.product .woocommerce-tabs ul.tabs li.active:after,.woocommerce-page #content div.product .woocommerce-tabs ul.tabs li.active:after {
	box-shadow: -2px 2px 0 #ffffff;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li:before,.woocommerce div.product .woocommerce-tabs ul.tabs li:after,.woocommerce #content div.product .woocommerce-tabs ul.tabs li:before,.woocommerce #content div.product .woocommerce-tabs ul.tabs li:after,.woocommerce-page div.product .woocommerce-tabs ul.tabs li:before,.woocommerce-page div.product .woocommerce-tabs ul.tabs li:after,.woocommerce-page #content div.product .woocommerce-tabs ul.tabs li:before,.woocommerce-page #content div.product .woocommerce-tabs ul.tabs li:after {
	border: 1px solid #dfdbdf;
	position: absolute;
	bottom: -1px;
	width: 5px;
	height: 1px;
	content: " ";
}

.woocommerce div.product .woocommerce-tabs ul.tabs li:before,.woocommerce #content div.product .woocommerce-tabs ul.tabs li:before,.woocommerce-page div.product .woocommerce-tabs ul.tabs li:before,.woocommerce-page #content div.product .woocommerce-tabs ul.tabs li:before {
	left: -6px;
	border-width: 0 1px 1px 0;
	box-shadow: 2px 2px 0 #dfdbdf;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li:after,.woocommerce #content div.product .woocommerce-tabs ul.tabs li:after,.woocommerce-page div.product .woocommerce-tabs ul.tabs li:after,.woocommerce-page #content div.product .woocommerce-tabs ul.tabs li:after {
	right: -6px;
	border-width: 0 0 1px 1px;
	box-shadow: -2px 2px 0 #dfdbdf;
}

.woocommerce div.product .woocommerce-tabs ul.tabs:before,.woocommerce #content div.product .woocommerce-tabs ul.tabs:before,.woocommerce-page div.product .woocommerce-tabs ul.tabs:before,.woocommerce-page #content div.product .woocommerce-tabs ul.tabs:before {
	position: absolute;
	content: " ";
	width: 100%;
	bottom: 0;
	left: 0;
	border-bottom: 1px solid #dfdbdf;
	z-index: 1;
}

.woocommerce div.product .woocommerce-tabs .panel,.woocommerce #content div.product .woocommerce-tabs .panel,.woocommerce-page div.product .woocommerce-tabs .panel,.woocommerce-page #content div.product .woocommerce-tabs .panel {
	margin: 0 0 2em;
	padding: 0;
}

.woocommerce div.product p.cart,.woocommerce #content div.product p.cart,.woocommerce-page div.product p.cart,.woocommerce-page #content div.product p.cart {
	margin-bottom: 2em;
}

.woocommerce div.product p.cart:after,.woocommerce #content div.product p.cart:after,.woocommerce-page div.product p.cart:after,.woocommerce-page #content div.product p.cart:after {
	content: "";
	display: block;
	clear: both;
}

.woocommerce div.product form.cart,.woocommerce #content div.product form.cart,.woocommerce-page div.product form.cart,.woocommerce-page #content div.product form.cart {
	margin-bottom: 0;
}

.woocommerce div.product .summary form.cart, .woocommerce div.product .summary form.cart table, .woocommerce div.product .summary form.cart table td {
	margin-bottom: 10px;
	padding: 0;
}

.woocommerce div.product .summary form.cart {
	position:relative;
}

.woocommerce div.product form.cart:after,.woocommerce #content div.product form.cart:after,.woocommerce-page div.product form.cart:after,.woocommerce-page #content div.product form.cart:after {
	content: "";
	display: block;
	clear: both;
}

.woocommerce div.product form.cart div.quantity,.woocommerce #content div.product form.cart div.quantity,.woocommerce-page div.product form.cart div.quantity,.woocommerce-page #content div.product form.cart div.quantity {
	float: left;
	margin: 0 6px 0 0;
}

.woocommerce div.product form.cart table,.woocommerce #content div.product form.cart table,.woocommerce-page div.product form.cart table,.woocommerce-page #content div.product form.cart table {
	border-width: 0 0 1px 0;
}

.woocommerce div.product form.cart table td,.woocommerce #content div.product form.cart table td,.woocommerce-page div.product form.cart table td,.woocommerce-page #content div.product form.cart table td {
	padding-left: 0;
}

.woocommerce div.product form.cart table div.quantity,.woocommerce #content div.product form.cart table div.quantity,.woocommerce-page div.product form.cart table div.quantity,.woocommerce-page #content div.product form.cart table div.quantity {
	float: none;
	margin: 0;
}

.woocommerce div.product form.cart table small.stock,.woocommerce #content div.product form.cart table small.stock,.woocommerce-page div.product form.cart table small.stock,.woocommerce-page #content div.product form.cart table small.stock {
	display: block;
	float: none;
}

.woocommerce div.product form.cart .variations,.woocommerce #content div.product form.cart .variations,.woocommerce-page div.product form.cart .variations,.woocommerce-page #content div.product form.cart .variations {
	margin-bottom: 1em;
}

.woocommerce div.product form.cart .variations label,.woocommerce #content div.product form.cart .variations label,.woocommerce-page div.product form.cart .variations label,.woocommerce-page #content div.product form.cart .variations label {
	font-weight: normal;
	padding: 7px 10px 0 0;
	display:block;
}

.woocommerce div.product form.cart .variations select,.woocommerce #content div.product form.cart .variations select,.woocommerce-page div.product form.cart .variations select,.woocommerce-page #content div.product form.cart .variations select {
	width: 100%;
	float: left;
	border: 1px solid #e7e7e7;
	padding: 10px 15px;
	color: #666;
}

.woocommerce div.product form.cart .variations td.label,.woocommerce #content div.product form.cart .variations td.label,.woocommerce-page div.product form.cart .variations td.label,.woocommerce-page #content div.product form.cart .variations td.label {
	padding-right: 1em;
}

.woocommerce div.product form.cart .variations td,.woocommerce #content div.product form.cart .variations td,.woocommerce-page div.product form.cart .variations td,.woocommerce-page #content div.product form.cart .variations td {
	vertical-align: top;
}

.woocommerce div.product form.cart .button,.woocommerce #content div.product form.cart .button,.woocommerce-page div.product form.cart .button,.woocommerce-page #content div.product form.cart .button {
	vertical-align: middle;
	float: left;
}

.woocommerce div.product form.cart .group_table td.label,.woocommerce #content div.product form.cart .group_table td.label,.woocommerce-page div.product form.cart .group_table td.label,.woocommerce-page #content div.product form.cart .group_table td.label {
	padding-right: 1em;
	padding-left: 1em;
}

.woocommerce div.product form.cart .group_table td,.woocommerce #content div.product form.cart .group_table td,.woocommerce-page div.product form.cart .group_table td,.woocommerce-page #content div.product form.cart .group_table td {
	vertical-align: top;
}

.woocommerce div.product form.cart .group_table td .quantity,.woocommerce #content div.product form.cart .group_table td .quantity,.woocommerce-page div.product form.cart .group_table td .quantity,.woocommerce-page #content div.product form.cart .group_table td .quantity {
	margin-bottom:7px;
}

.woocommerce span.onsale,.woocommerce-page span.onsale {
	min-height: 32px;
	min-width: 32px;
	padding: 4px;
	font-size: 12px;
	font-weight: bold;
	position: absolute;
	text-align: center;
	line-height: 32px;
	top: 6px;
	left: 6px;
	margin: 0;
	background: #a1c094;
	color: #ffffff;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
}

.woocommerce .products ul,.woocommerce ul.products,.woocommerce-page .products ul,.woocommerce-page ul.products {
	margin: 0 0 1em;
	padding: 0;
	list-style: none outside;
	clear: both;
}

.woocommerce .products ul:after,.woocommerce ul.products:after,.woocommerce-page .products ul:after,.woocommerce-page ul.products:after {
	content: "";
	display: block;
	clear: both;
}

.woocommerce .products ul li,.woocommerce ul.products li,.woocommerce-page .products ul li,.woocommerce-page ul.products li {
	list-style: none outside;
}

.woocommerce .related:after,.woocommerce .upsells.products:after,.woocommerce-page .related:after,.woocommerce-page .upsells.products:after {
	content: "";
	display: block;
	clear: both;
}

.woocommerce .related ul.products,.woocommerce .related ul,.woocommerce .upsells.products ul.products,.woocommerce .upsells.products ul,.woocommerce-page .related ul.products,.woocommerce-page .related ul,.woocommerce-page .upsells.products ul.products,.woocommerce-page .upsells.products ul {
	float: none;
}

.woocommerce .product-col-3 .related ul.products li.product,.woocommerce .product-col-3 .related ul li.product,.woocommerce .product-col-3 .upsells.products ul.products li.product,.woocommerce .product-col-3 .upsells.products ul li.product,.woocommerce-page .product-col-3 .related ul.products li.product,.woocommerce-page .product-col-3 .related ul li.product,.woocommerce-page .product-col-3 .upsells.products ul.products li.product,.woocommerce-page .product-col-3 .upsells.products ul li.product {
	width: 32.1%;
}

.woocommerce .product-col-4 .related ul.products li.product,.woocommerce .product-col-4 .related ul li.product,.woocommerce .product-col-4 .upsells.products ul.products li.product,.woocommerce .product-col-4 .upsells.products ul li.product,.woocommerce-page .product-col-4 .related ul.products li.product,.woocommerce-page .product-col-4 .related ul li.product,.woocommerce-page .product-col-4 .upsells.products ul.products li.product,.woocommerce-page .product-col-4 .upsells.products ul li.product {
	width: 23.7%;
}

.woocommerce .related ul.products li.product img,.woocommerce .related ul li.product img,.woocommerce .upsells.products ul.products li.product img,.woocommerce .upsells.products ul li.product img,.woocommerce-page .related ul.products li.product img,.woocommerce-page .related ul li.product img,.woocommerce-page .upsells.products ul.products li.product img,.woocommerce-page .upsells.products ul li.product img {
	width: 100%;
	height: auto;
}

.woocommerce .product-col-3 ul.products li.product,.woocommerce-page .product-col-3 ul.products li.product {
	float: left;
	margin: 0px 1.1% 1.1% 0px;
	padding: 0;
	position: relative;
	width: 32.1%;
	margin-left: 0;
	border: 1px solid #e7e7e7;
}

.woocommerce .product-col-4 ul.products li.product,.woocommerce-page .product-col-4 ul.products li.product {
	float: left;
	margin: 0px 1.1% 1.1% 0px;
	padding: 0;
	position: relative;
	width: 23.7%;
	margin-left: 0;
	border: 1px solid #e7e7e7;
}

.woocommerce ul.products li.product .onsale,.woocommerce-page ul.products li.product .onsale {
	top: 0;
	right: 0;
	left: auto;
	margin: 6px 6px 0 0;
}

.woocommerce ul.products li.product h3,.woocommerce-page ul.products li.product h3 {
	padding: .5em 0;
	margin: 0;
	font-size: 1em;
	text-transform: none;
	font-weight: normal;
}

.woocommerce ul.products li.product a,.woocommerce-page ul.products li.product a {
	text-decoration: none;
}

.woocommerce ul.products li.product a img,.woocommerce-page ul.products li.product a img {
	width: 100%;
	height: auto;
	display: block;
	margin: 0;
}

.woocommerce ul.products li.product a:hover img,.woocommerce-page ul.products li.product a:hover img {
}

.woocommerce ul.products li.product strong,.woocommerce-page ul.products li.product strong {
	display: block;
}

.woocommerce ul.products li.product .price,.woocommerce-page ul.products li.product .price {
	color: #85ad74;
	display: block;
	font-weight: normal;
	font-size: 16px;
	margin-bottom: .5em;
}

.woocommerce ul.products li.product .price del,.woocommerce-page ul.products li.product .price del {
	color: #919191;
	margin: -2px 0 0 0;
}

.woocommerce ul.products li.product .price ins,.woocommerce-page ul.products li.product .price ins {
	background: none;
}

.woocommerce ul.products li.product .price .from,.woocommerce-page ul.products li.product .price .from {
	font-size: 0.67em;
	margin: -2px 0 0 0;
	color: #919191;
}

.woocommerce ul.products li.first,.woocommerce-page ul.products li.first {
	clear: both;
}

.woocommerce .product-col-3 ul.products li.last,.woocommerce-page .product-col-3 ul.products li.last, .woocommerce .product-col-4 ul.products li.last,.woocommerce-page .product-col-4 ul.products li.last {
	margin-right: 0;
}

.woocommerce .woocommerce-result-count,.woocommerce-page .woocommerce-result-count {
	float: left;
	margin: 0 0 1em;
}

.woocommerce .woocommerce-ordering,.woocommerce-page .woocommerce-ordering {
	margin: 0 0 1em;
	float: right;
}

.woocommerce .woocommerce-ordering select,.woocommerce-page .woocommerce-ordering select {
	vertical-align: top;
}

.woocommerce nav.woocommerce-pagination,.woocommerce #content nav.woocommerce-pagination,.woocommerce-page nav.woocommerce-pagination,.woocommerce-page #content nav.woocommerce-pagination {
	text-align: center;
}

.woocommerce nav.woocommerce-pagination ul,.woocommerce #content nav.woocommerce-pagination ul,.woocommerce-page nav.woocommerce-pagination ul,.woocommerce-page #content nav.woocommerce-pagination ul {
	display: inline-block;
	white-space: nowrap;
	padding: 0;
	clear: both;
	border: 1px solid #dfdbdf;
	border-right: 0;
	margin: 1px;
}

.woocommerce nav.woocommerce-pagination ul li,.woocommerce #content nav.woocommerce-pagination ul li,.woocommerce-page nav.woocommerce-pagination ul li,.woocommerce-page #content nav.woocommerce-pagination ul li {
	border-right: 1px solid #dfdbdf;
	padding: 0;
	margin: 0;
	float: left;
	display: inline;
	overflow: hidden;
}

.woocommerce nav.woocommerce-pagination ul li a,.woocommerce nav.woocommerce-pagination ul li span,.woocommerce #content nav.woocommerce-pagination ul li a,.woocommerce #content nav.woocommerce-pagination ul li span,.woocommerce-page nav.woocommerce-pagination ul li a,.woocommerce-page nav.woocommerce-pagination ul li span,.woocommerce-page #content nav.woocommerce-pagination ul li a,.woocommerce-page #content nav.woocommerce-pagination ul li span {
	margin: 0;
	text-decoration: none;
	padding: 0;
	line-height: 1em;
	font-size: 1em;
	font-weight: normal;
	padding: .5em;
	min-width: 1em;
	display: block;
}

.woocommerce nav.woocommerce-pagination ul li span.current,.woocommerce nav.woocommerce-pagination ul li a:hover,.woocommerce nav.woocommerce-pagination ul li a:focus,.woocommerce #content nav.woocommerce-pagination ul li span.current,.woocommerce #content nav.woocommerce-pagination ul li a:hover,.woocommerce #content nav.woocommerce-pagination ul li a:focus,.woocommerce-page nav.woocommerce-pagination ul li span.current,.woocommerce-page nav.woocommerce-pagination ul li a:hover,.woocommerce-page nav.woocommerce-pagination ul li a:focus,.woocommerce-page #content nav.woocommerce-pagination ul li span.current,.woocommerce-page #content nav.woocommerce-pagination ul li a:hover,.woocommerce-page #content nav.woocommerce-pagination ul li a:focus {
	background: #f7f6f7;
	color: #978a97;
}

.woocommerce a.button,.woocommerce button.button,.woocommerce input.button,.woocommerce #respond input#submit,.woocommerce #content input.button,.woocommerce-page a.button,.woocommerce-page button.button,.woocommerce-page input.button,.woocommerce-page #respond input#submit,.woocommerce-page #content input.button {
	margin: 0;
	cursor: pointer;
	position: relative;
	font-family: inherit;
	text-decoration: none;
	overflow: visible;
	text-decoration: none;
	left: auto;
	display: inline-block;
	background-color: #f86b35;
	color: #fff;
	font-size: 12px;
	font-weight: bold;
	height: 33px;
	line-height: 33px;
	padding: 0px 20px;
	text-align: center;
	text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.251);
	text-transform: uppercase;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.196);
	-moz-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.196);
	-webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.196);
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	-webkit-font-smoothing: antialiased;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
.woocommerce a.button,.woocommerce button.button,.woocommerce input.button,.woocommerce #respond input#submit,.woocommerce #content input.button,.woocommerce-page a.button,.woocommerce-page button.button,.woocommerce-page input.button,.woocommerce-page #respond input#submit,.woocommerce-page #content input.button {
line-height: 34px;
}
}

.woocommerce a.add_to_cart_button.button, .woocommerce a.product_type_variable.button, .woocommerce a.product_type_grouped.button {
	background: #F7F7F7 !important;
	color: inherit;
	font-weight: normal;
	text-shadow: none;
	text-transform: none;
	border-top: 1px solid #e7e7e7;
	display: block;
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}

.woocommerce a.product_type_variable.button:before, .woocommerce a.product_type_grouped.button:before {
	content: "\e2b0";
	font-family: moon;
	color: #333;
	font-size: 16px;
	speak: none;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	padding-right: 10px;
	cursor: default;
	-webkit-font-smoothing: antialiased;
	text-shadow: none;
	position: relative;
	top: 2px;
}

.woocommerce a.add_to_cart_button.button:before {
	content: "\e0ca";
	font-family: moon;
	color: #333;
	font-size: 16px;
	speak: none;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	padding-right: 10px;
	cursor: default;
	-webkit-font-smoothing: antialiased;
	text-shadow: none;
	position: relative;
	top: 2px;
}

.woocommerce a.button.loading,.woocommerce button.button.loading,.woocommerce input.button.loading,.woocommerce #respond input#submit.loading,.woocommerce #content input.button.loading,.woocommerce-page a.button.loading,.woocommerce-page button.button.loading,.woocommerce-page input.button.loading,.woocommerce-page #respond input#submit.loading,.woocommerce-page #content input.button.loading {
	color: #777777;
}

.woocommerce a.button.loading:after,.woocommerce button.button.loading:after,.woocommerce input.button.loading:after,.woocommerce #respond input#submit.loading:after,.woocommerce #content input.button.loading:after,.woocommerce-page a.button.loading:after,.woocommerce-page button.button.loading:after,.woocommerce-page input.button.loading:after,.woocommerce-page #respond input#submit.loading:after,.woocommerce-page #content input.button.loading:after {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	background: url(images/ajax-loader.gif) center no-repeat rgba(255,255,255,0.65);
}

.woocommerce a.button:hover,.woocommerce button.button:hover,.woocommerce input.button:hover,.woocommerce #respond input#submit:hover,.woocommerce #content input.button:hover,.woocommerce-page a.button:hover,.woocommerce-page button.button:hover,.woocommerce-page input.button:hover,.woocommerce-page #respond input#submit:hover,.woocommerce-page #content input.button:hover {
	color: #ffffff;
	background-image: -moz-linear-gradient(top,  rgba(255,255,255,0.23) 0%, rgba(255,255,255,0) 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.23)), color-stop(100%,rgba(255,255,255,0)));
	background-image: -webkit-linear-gradient(top,  rgba(255,255,255,0.23) 0%,rgba(255,255,255,0) 100%);
	background-image: -o-linear-gradient(top,  rgba(255,255,255,0.23) 0%,rgba(255,255,255,0) 100%);
	background-image: -ms-linear-gradient(top,  rgba(255,255,255,0.23) 0%,rgba(255,255,255,0) 100%);
	background-image: linear-gradient(to bottom,  rgba(255,255,255,0.23) 0%,rgba(255,255,255,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3bffffff', endColorstr='#00ffffff',GradientType=0 );
	text-decoration: none;
}

.woocommerce a.add_to_cart_button.button:hover, .woocommerce a.product_type_variable.button:hover, .woocommerce a.product_type_grouped.button:hover {
	background: #F7F7F7 !important;
	color: inherit;
}

.woocommerce a.button:active,.woocommerce button.button:active,.woocommerce input.button:active,.woocommerce #respond input#submit:active,.woocommerce #content input.button:active,.woocommerce-page a.button:active,.woocommerce-page button.button:active,.woocommerce-page input.button:active,.woocommerce-page #respond input#submit:active,.woocommerce-page #content input.button:active {
	top: 0px;
}

.woocommerce a.button.alt,.woocommerce button.button.alt,.woocommerce input.button.alt,.woocommerce #respond input#submit.alt,.woocommerce #content input.button.alt,.woocommerce-page a.button.alt,.woocommerce-page button.button.alt,.woocommerce-page input.button.alt,.woocommerce-page #respond input#submit.alt,.woocommerce-page #content input.button.alt {
	background: #ad74a2;
	color: #ffffff;
}

.woocommerce a.button.alt:hover,.woocommerce button.button.alt:hover,.woocommerce input.button.alt:hover,.woocommerce #respond input#submit.alt:hover,.woocommerce #content input.button.alt:hover,.woocommerce-page a.button.alt:hover,.woocommerce-page button.button.alt:hover,.woocommerce-page input.button.alt:hover,.woocommerce-page #respond input#submit.alt:hover,.woocommerce-page #content input.button.alt:hover {
	color: #ffffff;
	background-image: -moz-linear-gradient(top,  rgba(255,255,255,0.23) 0%, rgba(255,255,255,0) 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.23)), color-stop(100%,rgba(255,255,255,0)));
	background-image: -webkit-linear-gradient(top,  rgba(255,255,255,0.23) 0%,rgba(255,255,255,0) 100%);
	background-image: -o-linear-gradient(top,  rgba(255,255,255,0.23) 0%,rgba(255,255,255,0) 100%);
	background-image: -ms-linear-gradient(top,  rgba(255,255,255,0.23) 0%,rgba(255,255,255,0) 100%);
	background-image: linear-gradient(to bottom,  rgba(255,255,255,0.23) 0%,rgba(255,255,255,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3bffffff', endColorstr='#00ffffff',GradientType=0 );
}

.woocommerce .cart .button,.woocommerce .cart input.button,.woocommerce-page .cart .button,.woocommerce-page .cart input.button {
	float: none;
}

.woocommerce a.added_to_cart,.woocommerce-page a.added_to_cart {
	background: rgba(0, 0, 0, 0.35);
	color: #FFFFFF;
	display: block;
	padding: 14px 0px;
	position: absolute;
	text-align: center;
	top: 25%;
	white-space: nowrap;
	width: 100%;
}

.quantity .plus, .quantity .minus, .quantity input {
	margin: 0;
	border: 0;
	padding: 4px 6px 3px;
	vertical-align:top;
}

.quantity .plus, .quantity .minus {
	height:34px;
	padding: 0 13px;
	background: #f7f6f7;
	background: -webkit-gradient(linear,left top,left bottom,from(#f7f6f7),to(#dfdbdf));
	background: -webkit-linear-gradient(#f7f6f7,#dfdbdf);
	background: -moz-linear-gradient(center top,#f7f6f7 0%,#dfdbdf 100%);
	background: -moz-gradient(center top,#f7f6f7 0%,#dfdbdf 100%);
	border: 1px solid #ccc;
	-webkit-box-shadow: inset 0 0 0 1px rgba(255,255,255,0.3);
	box-shadow: inset 0 0 0 1px rgba(255,255,255,0.3);
	box-shadow: inset 0 0 0 1px rgba(255,255,255,0.3);
	cursor: pointer;
}

.quantity .plus:hover, .quantity .minus:hover {
	background-position: top;
}

.quantity .minus {
	-webkit-border-top-right-radius: 0;
	-webkit-border-bottom-right-radius: 0;
	-moz-border-radius-topright: 0;
	-moz-border-radius-bottomright: 0;
	border-radius: 3px 0 0 3px;
}

.quantity .plus {
	-webkit-border-top-left-radius: 0;
	-webkit-border-bottom-left-radius: 0;
	-moz-border-radius-topleft: 0;
	-moz-border-radius-bottomleft: 0;
	border-radius: 0 3px 3px 0;
}

.quantity .qty {
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	width: 16px;
	text-align: center;
	min-width: 30px;
}

.woocommerce input::-webkit-outer-spin-button, .woocommerce input::-webkit-inner-spin-button {
	display: none;
}

.woocommerce  #respond  #reply-title {font-size:12px; margin-bottom:20px;}
.woocommerce  #respond  #author {margin-bottom:0px;}
.woocommerce .pp_content_container #respond  #reply-title {margin-top:0px; font-size:18px; margin-bottom:10px;}
.woocommerce .pp_content {height:auto !important;}

.woocommerce #reviews h2 small,.woocommerce-page #reviews h2 small {
	float: right;
	color: #777777;
	font-size: 15px;
	line-height: 21px;
	margin: 10px 0 0 0;
}

.woocommerce #reviews h2 small a,.woocommerce-page #reviews h2 small a {
	text-decoration: none;
	color: #777777;
}

.woocommerce #reviews h3,.woocommerce-page #reviews h3 {
	margin: 0;
}

.woocommerce #reviews #respond,.woocommerce-page #reviews #respond {
	margin: 0;
	border: 0;
	padding: 0;
}

.woocommerce #reviews #comments,.woocommerce-page #reviews #comments {
	margin:0px;
}

.woocommerce #reviews #comment,.woocommerce-page #reviews #comment {
	height: 75px;
}

.woocommerce #reviews #comments .add_review,.woocommerce-page #reviews #comments .add_review {
	float:right;
	clear: both;
}

.woocommerce #reviews #comments .add_review:after,.woocommerce-page #reviews #comments .add_review:after {
	content: "";
	display: block;
	clear: both;
}

.woocommerce #reviews #comments h2,.woocommerce-page #reviews #comments h2 {
	clear: none;
}

.woocommerce #reviews #comments ol.commentlist,.woocommerce-page #reviews #comments ol.commentlist {
	margin: 0;
	width: 100%;
	background: none;
	list-style: none;
}

.woocommerce #reviews #comments ol.commentlist:after,.woocommerce-page #reviews #comments ol.commentlist:after {
	content: "";
	display: block;
	clear: both;
}

.woocommerce #reviews #comments ol.commentlist li,.woocommerce-page #reviews #comments ol.commentlist li {
	padding: 00;
	margin: 0 0 20px;
	border: 0;
	position: relative;
	background: 0;
	border: 0;
}

.woocommerce #reviews #comments ol.commentlist li .meta,.woocommerce-page #reviews #comments ol.commentlist li .meta {
	color: #777777;
	font-size: 0.75em;
}

.woocommerce #reviews #comments ol.commentlist li img.avatar,.woocommerce-page #reviews #comments ol.commentlist li img.avatar {
	float: left;
	position: absolute;
	top: 0;
	left: 0;
	padding: 3px;
	width: 32px;
	height: auto;
	background: #f7f6f7;
	border: 1px solid #f0eef0;
	margin: 0;
	line-height: 1;
}

.woocommerce #reviews #comments ol.commentlist li .comment-text,.woocommerce-page #reviews #comments ol.commentlist li .comment-text {
	margin: 0 0 0 50px;
	border: 1px solid #f0eef0;
	padding: 1em 1em 0;
}

.woocommerce #reviews #comments ol.commentlist li .comment-text p,.woocommerce-page #reviews #comments ol.commentlist li .comment-text p {
	margin: 0 0 1em;
}

.woocommerce #reviews #comments ol.commentlist li .comment-text p.meta,.woocommerce-page #reviews #comments ol.commentlist li .comment-text p.meta {
	font-size: 0.83em;
}

.woocommerce #reviews #comments .commentlist>li:before,.woocommerce-page #reviews #comments .commentlist>li:before {
	content: "";
}

.woocommerce .star-rating,.woocommerce-page .star-rating {
	float: right;
	overflow: hidden;
	position: relative;
	height: 1em;
	line-height: 1em;
	font-size: 1em;
	width: 5.4em;
	font-family: 'star';
}

.woocommerce .star-rating:before,.woocommerce-page .star-rating:before {
	content: "\53\53\53\53\53";
	color: #E5E5E5;
	float: left;
	top: 0;
	left: 0;
	position: absolute;
}

.woocommerce .star-rating span,.woocommerce-page .star-rating span {
	overflow: hidden;
	float: left;
	top: 0;
	left: 0;
	position: absolute;
	padding-top: 1.5em;
}

.woocommerce .star-rating span:before,.woocommerce-page .star-rating span:before {
	content: "\53\53\53\53\53";
	top: 0;
	position: absolute;
	left: 0;
	color: #FFD800;
}

.woocommerce .products .star-rating,.woocommerce-page .products .star-rating {
	display: inline-block;
	margin: 0;
	float: none;
}

.woocommerce .hreview-aggregate .star-rating,.woocommerce-page .hreview-aggregate .star-rating {
	margin: 10px 0 0 0;
}

.woocommerce #review_form #respond,.woocommerce-page #review_form #respond {
	position: static;
	margin: 0;
	width: auto;
	padding: 0 0 0;
	background: transparent none;
	border: 0;
}

.woocommerce #review_form #respond:after,.woocommerce-page #review_form #respond:after {
	content: "";
	display: block;
	clear: both;
}

.woocommerce #review_form #respond p,.woocommerce-page #review_form #respond p {
	margin: 0 0 10px;
}

.woocommerce #review_form #respond .form-submit input,.woocommerce-page #review_form #respond .form-submit input {
	left: auto;
}

.woocommerce #review_form #respond textarea,.woocommerce-page #review_form #respond textarea {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
}

.woocommerce p.stars:after,.woocommerce-page p.stars:after {
	content: "";
	display: block;
	clear: both;
}

.woocommerce p.stars span,.woocommerce-page p.stars span {
	width: 80px;
	height: 16px;
	position: relative;
	float: left;
	background: url(images/star.png) repeat-x left 0;
}

.woocommerce p.stars span a,.woocommerce-page p.stars span a {
	float: left;
	position: absolute;
	left: 0;
	top: 0;
	width: 16px;
	height: 0;
	padding-top: 16px;
	overflow: hidden;
}

.woocommerce p.stars span a:hover,.woocommerce p.stars span a:focus,.woocommerce-page p.stars span a:hover,.woocommerce-page p.stars span a:focus {
	background: url(images/star.png) repeat-x left -16px;
}

.woocommerce p.stars span a.active,.woocommerce-page p.stars span a.active {
	background: url(images/star.png) repeat-x left -32px;
}

.woocommerce p.stars span a.star-1,.woocommerce-page p.stars span a.star-1 {
	width: 16px;
	z-index: 10;
}

.woocommerce p.stars span a.star-2,.woocommerce-page p.stars span a.star-2 {
	width: 32px;
	z-index: 9;
}

.woocommerce p.stars span a.star-3,.woocommerce-page p.stars span a.star-3 {
	width: 48px;
	z-index: 8;
}

.woocommerce p.stars span a.star-4,.woocommerce-page p.stars span a.star-4 {
	width: 64px;
	z-index: 7;
}

.woocommerce p.stars span a.star-5,.woocommerce-page p.stars span a.star-5 {
	width: 80px;
	z-index: 6;
}

.woocommerce table.shop_attributes,.woocommerce-page table.shop_attributes {
	border: 0;
	border-top: 1px dotted rgba(0,0,0,0.1);
	margin-bottom: 1.618em;
	width: 100%;
}

.woocommerce table.shop_attributes th,.woocommerce-page table.shop_attributes th {
	width: 150px;
	font-weight: bold;
	padding: 8px;
	border-top: 0;
	border-bottom: 1px dotted rgba(0,0,0,0.1);
	margin: 0;
	line-height: 1.5em;
}

.woocommerce table.shop_attributes td,.woocommerce-page table.shop_attributes td {
	font-style: italic;
	padding: 0;
	border-top: 0;
	border-bottom: 1px dotted rgba(0,0,0,0.1);
	margin: 0;
	line-height: 1.5em;
}

.woocommerce table.shop_attributes td p,.woocommerce-page table.shop_attributes td p {
	margin: 0;
	padding: 8px 0;
}

.woocommerce table.shop_attributes .alt td,.woocommerce table.shop_attributes .alt th,.woocommerce-page table.shop_attributes .alt td,.woocommerce-page table.shop_attributes .alt th {
	background: rgba(0,0,0,0.025);
}

.woocommerce table.shop_table,.woocommerce-page table.shop_table {
	border: 1px solid rgba(0,0,0,0.1);
	margin: 0px -1px 24px 0px;
	text-align: left;
	width: 100%;
}
@-moz-document url-prefix() {
.woocommerce table.shop_table,.woocommerce-page table.shop_table {
border: none;
-moz-box-shadow:1px 1px 0px rgba(0,0,0,0.1);
box-shadow: 1px 1px 0px rgba(0,0,0,0.1);
-moz-border-top-right-radius:6px;
border-top-right-radius:6px;
}
.woocommerce table.shop_table tfoot,.woocommerce-page table.shop_table tfoot
{border-left: 1px solid rgba(0,0,0,0.1);}
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
.woocommerce table.shop_table,.woocommerce-page table.shop_table {
border: none;
-webkit-box-shadow: 1px 1px 0px rgba(0,0,0,0.1);
box-shadow:1px 1px 0px rgba(0,0,0,0.1);
-webkit-border-top-right-radius:6px;
border-top-right-radius:6px;
}
.woocommerce table.shop_table tfoot,.woocommerce-page table.shop_table tfoot
{
border-left: 1px solid rgba(0,0,0,0.1);
}
}


.woocommerce table.shop_table th,.woocommerce-page table.shop_table th {
	font-weight: bold;
	line-height: 18px;
	padding: 9px 12px;
}

.woocommerce table.shop_table td,.woocommerce-page table.shop_table td {
	border-top: 1px solid rgba(0,0,0,0.1);
	border-left: 1px solid rgba(0, 0, 0, 0.1);
	padding: 10px 12px;
	vertical-align: middle;
}

.woocommerce table.shop_table td small,.woocommerce-page table.shop_table td small {
	font-weight: normal;
}

.woocommerce table.shop_table tfoot td,.woocommerce table.shop_table tfoot th,.woocommerce-page table.shop_table tfoot td,.woocommerce-page table.shop_table tfoot th {
	font-weight: bold;
	border-top: 1px solid rgba(0,0,0,0.1);
	color: #767676;
	text-shadow: none;
}

.woocommerce table.shop_table tfoot .shipping td,.woocommerce table.shop_table tfoot .shipping th,.woocommerce-page table.shop_table tfoot .shipping td,.woocommerce-page table.shop_table tfoot .shipping th {
	font-weight: normal;
}

.woocommerce table.my_account_orders,.woocommerce-page table.my_account_orders {
	font-size: 13px;
}

.woocommerce table.my_account_orders th,.woocommerce table.my_account_orders td,.woocommerce-page table.my_account_orders th,.woocommerce-page table.my_account_orders td {
	vertical-align: middle;
}

.woocommerce table.my_account_orders .button,.woocommerce-page table.my_account_orders .button {
	white-space: nowrap;
}

.woocommerce table.my_account_orders .order-actions,.woocommerce-page table.my_account_orders .order-actions {
	text-align: right;
}

.woocommerce table.my_account_orders .order-actions .button,.woocommerce-page table.my_account_orders .order-actions .button {
	margin: .125em 0 .125em .25em;
}

.woocommerce td.product-name dl.variation,.woocommerce-page td.product-name dl.variation {
	margin: .25em 0 .5em;
	font-size: 0.8751em;
}

.woocommerce td.product-name dl.variation dt,.woocommerce-page td.product-name dl.variation dt {
	font-weight: bold;
	float: left;
	clear: left;
	margin: 0 .25em 0 0;
	padding: 0;
}

.woocommerce td.product-name dl.variation dd,.woocommerce-page td.product-name dl.variation dd {
	margin: 0 0 .25em 0;
}

.woocommerce td.product-name p.backorder_notification,.woocommerce-page td.product-name p.backorder_notification {
	font-size: 0.83em;
}

.woocommerce td.product-quantity,.woocommerce-page td.product-quantity {
	min-width: 80px;
}

.woocommerce table.cart .product-thumbnail,.woocommerce #content table.cart .product-thumbnail,.woocommerce-page table.cart .product-thumbnail,.woocommerce-page #content table.cart .product-thumbnail {
	min-width: 32px;
}

.woocommerce table.cart img,.woocommerce #content table.cart img,.woocommerce-page table.cart img,.woocommerce-page #content table.cart img {
	width: 32px;
	height: auto;
}

.woocommerce table.cart th,.woocommerce table.cart td,.woocommerce #content table.cart th,.woocommerce #content table.cart td,.woocommerce-page table.cart th,.woocommerce-page table.cart td,.woocommerce-page #content table.cart th,.woocommerce-page #content table.cart td {
	vertical-align: middle;
}

.woocommerce table.cart a.remove,.woocommerce #content table.cart a.remove,.woocommerce-page table.cart a.remove,.woocommerce-page #content table.cart a.remove {
	display: block;
	font-size: 1.5em;
	height: 1em;
	width: 1em;
	text-align: center;
	line-height: 1;
	color: red;
	text-decoration: none;
	font-weight: bold;
}

.woocommerce table.cart a.remove:hover,.woocommerce #content table.cart a.remove:hover,.woocommerce-page table.cart a.remove:hover,.woocommerce-page #content table.cart a.remove:hover {
	background-color: red;
	color: #fff;
}

.woocommerce table.cart td.actions,.woocommerce #content table.cart td.actions,.woocommerce-page table.cart td.actions,.woocommerce-page #content table.cart td.actions {
	text-align: right;
}

.woocommerce table.cart td.actions .coupon,.woocommerce #content table.cart td.actions .coupon,.woocommerce-page table.cart td.actions .coupon,.woocommerce-page #content table.cart td.actions .coupon {
	float: left;
}

.woocommerce table.cart td.actions .coupon label,.woocommerce #content table.cart td.actions .coupon label,.woocommerce-page table.cart td.actions .coupon label,.woocommerce-page #content table.cart td.actions .coupon label {
	display: none;
}

.woocommerce table.cart td.actions .coupon .input-text,.woocommerce #content table.cart td.actions .coupon .input-text,.woocommerce-page table.cart td.actions .coupon .input-text,.woocommerce-page #content table.cart td.actions .coupon .input-text {
	width: 150px;
	float: left;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	box-shadow: inset 0 1px 4px 0 rgba(0,0,0,0.1);
	-webkit-box-shadow: inset 0 1px 4px 0 rgba(0,0,0,0.1);
	-moz-box-shadow: inset 0 1px 4px 0 rgba(0,0,0,0.1);
	border: 1px solid #dfdbdf;
	padding: 6px 6px 5px;
	margin: 0 4px 0 0;
	outline: 0;
	line-height: 1em;
	height: 34px;
}

.woocommerce table.cart td.actions .button.alt,.woocommerce #content table.cart td.actions .button.alt,.woocommerce-page table.cart td.actions .button.alt,.woocommerce-page #content table.cart td.actions .button.alt {
	float: right;
	margin-left: .25em;
}

.woocommerce table.cart input,.woocommerce #content table.cart input,.woocommerce-page table.cart input,.woocommerce-page #content table.cart input {
	margin: 0;
	vertical-align: middle;
	line-height: 1em;
}

.woocommerce ul.cart_list,.woocommerce ul.product_list_widget,.woocommerce-page ul.cart_list,.woocommerce-page ul.product_list_widget {
	list-style: none outside;
	padding: 0;
	margin: 0;
}

.woocommerce ul.cart_list li,.woocommerce ul.product_list_widget li,.woocommerce-page ul.cart_list li,.woocommerce-page ul.product_list_widget li {
	padding: 4px 0;
	margin: 0;
	list-style: none;
}

.woocommerce ul.cart_list li:after,.woocommerce ul.product_list_widget li:after,.woocommerce-page ul.cart_list li:after,.woocommerce-page ul.product_list_widget li:after {
	content: "";
	display: block;
	clear: both;
}

.woocommerce ul.cart_list li a,.woocommerce ul.product_list_widget li a,.woocommerce-page ul.cart_list li a,.woocommerce-page ul.product_list_widget li a {
	display: block;
	font-weight: normal;
}

.woocommerce ul.cart_list li img,.woocommerce ul.product_list_widget li img,.woocommerce-page ul.cart_list li img,.woocommerce-page ul.product_list_widget li img {
	float: right;
	margin-left: 4px;
	width: 32px;
	height: auto;
	box-shadow: 0 1px 2px 0 rgba(0,0,0,0.3);
	-webkit-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.3);
	-moz-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.3);
}

.woocommerce ul.cart_list li dl,.woocommerce ul.product_list_widget li dl,.woocommerce-page ul.cart_list li dl,.woocommerce-page ul.product_list_widget li dl {
	margin: 0;
	font-size: 0.8751em;
	padding-left: 1em;
	border-left: 2px solid rgba(0,0,0,0.1);
}

.woocommerce ul.cart_list li dl dt,.woocommerce ul.product_list_widget li dl dt,.woocommerce-page ul.cart_list li dl dt,.woocommerce-page ul.product_list_widget li dl dt {
	float: left;
	clear: left;
	margin-right: .25em;
}

.woocommerce ul.cart_list li dl dd,.woocommerce ul.product_list_widget li dl dd,.woocommerce-page ul.cart_list li dl dd,.woocommerce-page ul.product_list_widget li dl dd {
	margin-bottom: .5em;
}

.woocommerce ul.cart_list li .star-rating,.woocommerce ul.product_list_widget li .star-rating,.woocommerce-page ul.cart_list li .star-rating,.woocommerce-page ul.product_list_widget li .star-rating {
	float: none;
}

.woocommerce .widget_shopping_cart .total,.woocommerce-page .widget_shopping_cart .total {
	border-top: 3px double #f7f6f7;
	padding: 4px 0 0;
}

.woocommerce .widget_shopping_cart .total strong,.woocommerce-page .widget_shopping_cart .total strong {
	min-width: 40px;
	display: inline-block;
}

.woocommerce .widget_shopping_cart .buttons:after,.woocommerce-page .widget_shopping_cart .buttons:after {
	content: "";
	display: block;
	clear: both;
}

.woocommerce .cart-collaterals,.woocommerce-page .cart-collaterals {
	width: 100%;
}

.woocommerce .cart-collaterals:after,.woocommerce-page .cart-collaterals:after {
	content: "";
	display: block;
	clear: both;
}

.woocommerce .cart-collaterals .related,.woocommerce-page .cart-collaterals .related {
	width: 30.75%;
	float: left;
}

.woocommerce .cart-collaterals .cross-sells,.woocommerce-page .cart-collaterals .cross-sells {
	width: 48%;
	float: left;
}

.woocommerce .cart-collaterals .cross-sells ul.products,.woocommerce-page .cart-collaterals .cross-sells ul.products {
	float: none;
}

.woocommerce .cart-collaterals .cross-sells ul.products li,.woocommerce-page .cart-collaterals .cross-sells ul.products li {
	width: 48%;
}

.woocommerce .cart-collaterals .shipping_calculator,.woocommerce-page .cart-collaterals .shipping_calculator {
	width: 48%;
	text-align: right;
	margin: 20px 0 0 0;
	clear: right;
	float: right;
}

.woocommerce .cart-collaterals .shipping_calculator:after,.woocommerce-page .cart-collaterals .shipping_calculator:after {
	content: "";
	display: block;
	clear: both;
}

.woocommerce .cart-collaterals .shipping_calculator .button,.woocommerce-page .cart-collaterals .shipping_calculator .button {
	float: none;
	display: inline-block;
	border: none;
}

.woocommerce .cart-collaterals .shipping_calculator .col2-set .col-1,.woocommerce .cart-collaterals .shipping_calculator .col2-set .col-2,.woocommerce-page .cart-collaterals .shipping_calculator .col2-set .col-1,.woocommerce-page .cart-collaterals .shipping_calculator .col2-set .col-2 {
	width: 47%;
}

.woocommerce .cart-collaterals .cart_totals,.woocommerce-page .cart-collaterals .cart_totals {
	float: right;
	width: 48%;
	text-align: right;
}

.woocommerce .cart-collaterals .cart_totals p,.woocommerce-page .cart-collaterals .cart_totals p {
	margin: 0;
}

.woocommerce .cart-collaterals .cart_totals p small,.woocommerce-page .cart-collaterals .cart_totals p small {
	color: #777777;
	font-size: 0.83em;
}

.woocommerce .cart-collaterals .cart_totals table,.woocommerce-page .cart-collaterals .cart_totals table {
	margin: 0 0 6px;
	padding: 0;
}

.woocommerce .cart-collaterals .cart_totals table tr th,.woocommerce .cart-collaterals .cart_totals table tr td,.woocommerce-page .cart-collaterals .cart_totals table tr th,.woocommerce-page .cart-collaterals .cart_totals table tr td {
	border-top: 1px solid rgba(0,0,0,0.1);
	border-left: 1px solid rgba(0,0,0,0.1);
}

.woocommerce .cart-collaterals .cart_totals table tr:first-child th,.woocommerce .cart-collaterals .cart_totals table tr:first-child td,.woocommerce-page .cart-collaterals .cart_totals table tr:first-child th,.woocommerce-page .cart-collaterals .cart_totals table tr:first-child td {
	border-top: 0;
}

.woocommerce .cart-collaterals .cart_totals table td,.woocommerce .cart-collaterals .cart_totals table th,.woocommerce-page .cart-collaterals .cart_totals table td,.woocommerce-page .cart-collaterals .cart_totals table th {
	background: #fff;
}

.woocommerce .cart-collaterals .cart_totals table small,.woocommerce-page .cart-collaterals .cart_totals table small {
	display: block;
	color: #777777;
}

.woocommerce .cart-collaterals .cart_totals table select,.woocommerce-page .cart-collaterals .cart_totals table select {
	width: 100%;
}

.woocommerce .cart-collaterals .cart_totals .discount td,.woocommerce-page .cart-collaterals .cart_totals .discount td {
	color: #85ad74;
}

.woocommerce .cart-collaterals .cart_totals tr td,.woocommerce .cart-collaterals .cart_totals tr th,.woocommerce-page .cart-collaterals .cart_totals tr td,.woocommerce-page .cart-collaterals .cart_totals tr th {
	padding: 6px 15px;
	text-shadow: none;
}

.woocommerce .cart-collaterals .cart_totals a.button.alt,.woocommerce-page .cart-collaterals .cart_totals a.button.alt {
	width: 193px;
	display: block;
	font-size: 0.92em;
}

.woocommerce form .form-row,.woocommerce-page form .form-row {
	padding: 0px;
	margin: 0 0 6px;
}

.woocommerce form .form-row:after,.woocommerce-page form .form-row:after {
	content: "";
	display: block;
	clear: both;
}

.woocommerce form .form-row [placeholder]:focus::-webkit-input-placeholder,.woocommerce-page form .form-row [placeholder]:focus::-webkit-input-placeholder {
	-webkit-transition: opacity 0.5s 0.5s ease;
	-moz-transition: opacity 0.5s 0.5s ease;
	transition: opacity 0.5s 0.5s ease;
	opacity: 0;
}

.woocommerce form .form-row label,.woocommerce-page form .form-row label {
	display: block;
}

.woocommerce form .form-row label.hidden,.woocommerce-page form .form-row label.hidden {
	visibility: hidden;
}

.woocommerce form .form-row select,.woocommerce-page form .form-row select {
	width: 100%;
	cursor: pointer;
	margin: 0;
}

.woocommerce form .form-row .required,.woocommerce-page form .form-row .required {
	color: red;
	font-weight: bold;
	border: 0;
}

.woocommerce form .form-row .input-checkbox,.woocommerce-page form .form-row .input-checkbox {
	display: inline;
	margin: -2px 8px 0 0;
	text-align: center;
	vertical-align: middle;
}

.woocommerce form .form-row label.checkbox,.woocommerce-page form .form-row label.checkbox {
	display: inline;
}

.woocommerce form .form-row input.input-text,.woocommerce form .form-row textarea,.woocommerce-page form .form-row input.input-text,.woocommerce-page form .form-row textarea {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	margin: 0;
	outline: 0;
	line-height: 1em;
}

.woocommerce form .form-row textarea,.woocommerce-page form .form-row textarea {
	height: 3.5em;
	line-height: 1.5em;
	display: block;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.woocommerce form .form-row.validate-required.woocommerce-validated input.input-text,.woocommerce-page form .form-row.validate-required.woocommerce-validated input.input-text {
	background-image: url(images/icons/valid.png);
	background-position: 95% center;
	background-repeat: no-repeat;
}

.woocommerce form .form-row.validate-required.woocommerce-invalid input.input-text,.woocommerce-page form .form-row.validate-required.woocommerce-invalid input.input-text {
	background-image: url(images/icons/invalid.png);
	background-position: 95% center;
	background-repeat: no-repeat;
}

.woocommerce form .form-row.validate-required.woocommerce-invalid .chzn-single,.woocommerce form .form-row.validate-required.woocommerce-invalid .chzn-drop,.woocommerce form .form-row.validate-required.woocommerce-invalid input.input-text,.woocommerce form .form-row.validate-required.woocommerce-invalid select,.woocommerce-page form .form-row.validate-required.woocommerce-invalid .chzn-single,.woocommerce-page form .form-row.validate-required.woocommerce-invalid .chzn-drop,.woocommerce-page form .form-row.validate-required.woocommerce-invalid input.input-text,.woocommerce-page form .form-row.validate-required.woocommerce-invalid select {
	border-color: #fb7f88;
}

.woocommerce form .form-row::-webkit-input-placeholder,.woocommerce-page form .form-row::-webkit-input-placeholder {
	line-height: 1em;
	padding-top: 2px;
}

.woocommerce form .form-row:-moz-placeholder,.woocommerce-page form .form-row:-moz-placeholder {
	line-height: 1em;
	padding-top: 2px;
}

.woocommerce form .form-row:-ms-input-placeholder,.woocommerce-page form .form-row:-ms-input-placeholder {
	line-height: 1em;
	padding-top: 2px;
}

.woocommerce form .form-row-first,.woocommerce form .form-row-last,.woocommerce-page form .form-row-first,.woocommerce-page form .form-row-last {
	float: left;
	width: 47%;
	overflow: visible;
}

.woocommerce form .form-row-last,.woocommerce-page form .form-row-last {
	float: right;
}

.woocommerce form .form-row-wide,.woocommerce-page form .form-row-wide {
	clear: both;
}

.woocommerce form.login,.woocommerce form.checkout_coupon,.woocommerce form.register,.woocommerce-page form.login,.woocommerce-page form.checkout_coupon,.woocommerce-page form.register {
	border: 1px solid #dfdbdf;
	padding: 20px;
	margin: 2em 0 2em 0px;
	text-align: left;
}

.woocommerce ul#shipping_method,.woocommerce-page ul#shipping_method {
	list-style: none outside;
	margin: 0;
	padding: 0;
}

.woocommerce ul#shipping_method li,.woocommerce-page ul#shipping_method li {
	margin: 0;
	padding: .25em 0 .25em 22px;
	text-indent: -22px;
	list-style: none outside;
}

.woocommerce ul#shipping_method .amount,.woocommerce-page ul#shipping_method .amount {
	font-weight: bold;
}

.woocommerce .checkout .col-2 h3,.woocommerce-page .checkout .col-2 h3 {
	float: left;
	clear: none;
}

.woocommerce .checkout .col-2 .notes,.woocommerce-page .checkout .col-2 .notes {
	clear: left;
}

.woocommerce .checkout .col-2 .form-row-first,.woocommerce-page .checkout .col-2 .form-row-first {
	clear: left;
}

.woocommerce .checkout div.shipping-address,.woocommerce-page .checkout div.shipping-address {
	padding: 0;
	clear: left;
	width: 100%;
}

.woocommerce .checkout #shiptobilling,.woocommerce-page .checkout #shiptobilling {
	float: right;
	line-height: 1.62em;
	margin: -6px 0 0 0;
	padding: 0;
}

.woocommerce .checkout #shiptobilling label,.woocommerce-page .checkout #shiptobilling label {
	font-size: 0.6875em;
	margin-left: -10px;
}

.woocommerce .checkout #shiptobilling .input-checkbox,.woocommerce-page .checkout #shiptobilling .input-checkbox{
	border:none;
	-webkit-box-shadow: none;
	-moz-box-shadow:none;
	box-shadow:none;
}

.woocommerce .checkout .shipping_address,.woocommerce-page .checkout .shipping_address {
	clear: both;
}

.woocommerce #payment,.woocommerce-page #payment {
	background: #f7f6f7;
}

.woocommerce #payment ul.payment_methods,.woocommerce-page #payment ul.payment_methods {
	text-align: left;
	padding: 1em;
	border-bottom: 1px solid #dfdbdf;
	margin: 0;
	list-style: none outside;
}

.woocommerce #payment ul.payment_methods:after,.woocommerce-page #payment ul.payment_methods:after {
	content: "";
	display: block;
	clear: both;
}

.woocommerce #payment ul.payment_methods li,.woocommerce-page #payment ul.payment_methods li {
	line-height: 2em;
	text-align: left;
	margin: 0;
	font-weight: normal;
}

.woocommerce #payment ul.payment_methods li input,.woocommerce-page #payment ul.payment_methods li input {
	margin: 0 1em 0 0;
}

.woocommerce #payment ul.payment_methods li img,.woocommerce-page #payment ul.payment_methods li img {
	vertical-align: middle;
	margin: -2px 0 0 .5em;
	position: relative;
}

.woocommerce #payment div.form-row,.woocommerce-page #payment div.form-row {
	padding: 1em;
	border-top: 1px solid #ffffff;
}

.woocommerce #payment #place_order,.woocommerce-page #payment #place_order {
	float: right;
	margin: 0;
}

.woocommerce #payment .terms,.woocommerce-page #payment .terms {
	padding: 0 1em 0;
	text-align: right;
}

.woocommerce #payment div.payment_box,.woocommerce-page #payment div.payment_box {
	position: relative;
	width: 96%;
	padding: 1em 2%;
	margin: 1em 0 1em 0;
	font-size: 0.92em;
	line-height: 1.5em;
	background: #ebe9eb;
	background: -webkit-gradient(linear,left top,left bottom,from(#ebe9eb),to(#dfdbdf));
	background: -webkit-linear-gradient(#ebe9eb,#dfdbdf);
	background: -moz-linear-gradient(center top,#ebe9eb 0%,#dfdbdf 100%);
	background: -moz-gradient(center top,#ebe9eb 0%,#dfdbdf 100%);
	-webkit-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.25);
	-moz-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.25);
	box-shadow: 0 1px 2px 0 rgba(0,0,0,0.25);
	color: #5e5e5e;
	text-shadow: 0 1px 0 rgba(255,255,255,0.8);
}

.woocommerce #payment div.payment_box p:last-child,.woocommerce-page #payment div.payment_box p:last-child {
	margin-bottom: 0;
}

.woocommerce #payment div.payment_box #cc-expire-month,.woocommerce #payment div.payment_box #cc-expire-year,.woocommerce-page #payment div.payment_box #cc-expire-month,.woocommerce-page #payment div.payment_box #cc-expire-year {
	width: 48%;
	float: left;
}

.woocommerce #payment div.payment_box #cc-expire-year,.woocommerce-page #payment div.payment_box #cc-expire-year {
	float: right;
}

.woocommerce #payment div.payment_box span.help,.woocommerce-page #payment div.payment_box span.help {
	font-size: 11px;
	color: #777777;
	line-height: 13px;
	font-weight: normal;
}

.woocommerce #payment div.payment_box .form-row,.woocommerce-page #payment div.payment_box .form-row {
	margin: 0 0 1em;
}

.woocommerce #payment div.payment_box .form-row select,.woocommerce-page #payment div.payment_box .form-row select {
	width: 48%;
	float: left;
	margin-right: 3.8%;
}

.woocommerce #payment div.payment_box .form-row select:nth-child(3n),.woocommerce-page #payment div.payment_box .form-row select:nth-child(3n) {
	margin-right: 0;
}

.woocommerce #payment div.payment_box:after,.woocommerce-page #payment div.payment_box:after {
	content: "";
	display: block;
	border: 8px solid #ebe9eb;
	border-right-color: transparent;
	border-left-color: transparent;
	border-top-color: transparent;
	position: absolute;
	top: -3px;
	left: 0;
	margin: -1em 0 0 2em;
}

.woocommerce .order_details,.woocommerce-page .order_details {
	margin: 0 0 1.5em;
	list-style: none;
}

.woocommerce .order_details:after,.woocommerce-page .order_details:after {
	content: "";
	display: block;
	clear: both;
}

.woocommerce .order_details li,.woocommerce-page .order_details li {
	float: left;
	margin-right: 2em;
	text-transform: uppercase;
	font-size: 0.715em;
	line-height: 1em;
	border-right: 1px dashed #dfdbdf;
	padding-right: 2em;
}

.woocommerce .order_details li strong,.woocommerce-page .order_details li strong {
	display: block;
	font-size: 1.4em;
	text-transform: none;
	line-height: 1.5em;
}

.woocommerce .order_details li:last-of-type,.woocommerce-page .order_details li:last-of-type {
	border: none;
}

.woocommerce .addresses .title:after,.woocommerce-page .addresses .title:after {
	content: "";
	display: block;
	clear: both;
}

.woocommerce .addresses .title h3,.woocommerce-page .addresses .title h3 {
	float: left;
}

.woocommerce .addresses .title .edit,.woocommerce-page .addresses .title .edit {
	float: right;
}

.woocommerce ol.commentlist.notes li.note p.meta,.woocommerce-page ol.commentlist.notes li.note p.meta {
	font-weight: bold;
	margin-bottom: 0;
}

.woocommerce ol.commentlist.notes li.note .description p:last-child,.woocommerce-page ol.commentlist.notes li.note .description p:last-child {
	margin-bottom: 0;
}

.woocommerce ul.digital-downloads,.woocommerce-page ul.digital-downloads {
	margin-left: 0;
	padding-left: 0;
}

.woocommerce ul.digital-downloads li,.woocommerce-page ul.digital-downloads li {
	list-style: none;
	margin-left: 0;
	padding-left: 1.5em;
	background: url(data:image/png;
	base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAHCAYAAAA1WQxeAAAAQUlEQVQIHWP8//8/AwgwMjLWgxlQAijeCGIyIQtiYxNUwAjUhWI0uilMMLvQJUB8kBzYCmyKYGJwN8AEYDphJgIAPtccffZCsOoAAAAASUVORK5CYII=) left no-repeat;
}

.woocommerce ul.digital-downloads li .count,.woocommerce-page ul.digital-downloads li .count {
	float: right;
}

.woocommerce .widget_layered_nav ul,.woocommerce-page .widget_layered_nav ul {
	margin: 0;
	padding: 0;
	border: 0;
	list-style: none outside;
}

.woocommerce .widget_layered_nav ul li,.woocommerce-page .widget_layered_nav ul li {
	padding: 0 0 1px;
	list-style: none;
}

.woocommerce .widget_layered_nav ul li:after,.woocommerce-page .widget_layered_nav ul li:after {
	content: "";
	display: block;
	clear: both;
}

.woocommerce .widget_layered_nav ul li a,.woocommerce .widget_layered_nav ul li span,.woocommerce-page .widget_layered_nav ul li a,.woocommerce-page .widget_layered_nav ul li span {
	padding: 1px 0;
	float: none;
}

.woocommerce .widget_layered_nav ul li.chosen a,.woocommerce-page .widget_layered_nav ul li.chosen a {
	padding: 0 6px 0 18px;
	border: 1px solid #ad74a2;
	background: #ad74a2 url(images/cross_white.png) no-repeat 6px center;
	box-shadow: inset 0 1px 1px rgba(255,255,255,0.5) #888;
	-webkit-box-shadow: inset 0 1px 1px rgba(255,255,255,0.5) #888;
	-moz-box-shadow: inset 0 1px 1px rgba(255,255,255,0.5) #888;
	color: #ffffff;
}

.woocommerce .widget_layered_nav ul small.count,.woocommerce-page .widget_layered_nav ul small.count {
	float: right;
	margin-left: 6px;
	font-size: 1em;
	padding: 1px 0;
	color: #777777;
}

.woocommerce .widget_layered_nav_filters ul,.woocommerce-page .widget_layered_nav_filters ul {
	margin: 0;
	padding: 0;
	border: 0;
	list-style: none outside;
	overflow: hidden;
	zoom: 1;
}

.woocommerce .widget_layered_nav_filters ul li,.woocommerce-page .widget_layered_nav_filters ul li {
	float: left;
	padding: 0 1px 1px 0;
	list-style: none;
}

.woocommerce .widget_layered_nav_filters ul li a,.woocommerce-page .widget_layered_nav_filters ul li a {
	padding: 0 6px 0 18px;
	border: 1px solid #ad74a2;
	background: #ad74a2 url(images/cross_white.png) no-repeat 6px center;
	box-shadow: inset 0 1px 1px rgba(255,255,255,0.5) #888;
	-webkit-box-shadow: inset 0 1px 1px rgba(255,255,255,0.5) #888;
	-moz-box-shadow: inset 0 1px 1px rgba(255,255,255,0.5) #888;
	color: #ffffff;
	float: left;
}

.woocommerce .widget_price_filter .price_slider,.woocommerce-page .widget_price_filter .price_slider {
	margin-bottom: 1em;
}

.woocommerce .widget_price_filter .price_slider_amount,.woocommerce-page .widget_price_filter .price_slider_amount {
	text-align: right;
	line-height: 2.4em;
	font-size: 0.8751em;
}

.woocommerce .widget_price_filter .price_slider_amount .button,.woocommerce-page .widget_price_filter .price_slider_amount .button {
	float: left;
}

.woocommerce .widget_price_filter .ui-slider,.woocommerce-page .widget_price_filter .ui-slider {
	position: relative;
	text-align: left;
}

.woocommerce .widget_price_filter .ui-slider .ui-slider-handle,.woocommerce-page .widget_price_filter .ui-slider .ui-slider-handle {
	position: absolute;
	z-index: 2;
	width: 12px;
	height: 12px;
	cursor: pointer;
	background: #ad74a2;
	outline: none;
	top: -0.2em;
	-webkit-border-radius: 21px;
	-moz-border-radius: 21px;
	border-radius: 21px;
}

.woocommerce .widget_price_filter .ui-slider .ui-slider-handle:last-child,.woocommerce-page .widget_price_filter .ui-slider .ui-slider-handle:last-child {
	margin-left: -1em;
}

.woocommerce .widget_price_filter .ui-slider .ui-slider-range,.woocommerce-page .widget_price_filter .ui-slider .ui-slider-range {
	position: absolute;
	z-index: 1;
	font-size: .7em;
	display: block;
	border: 0;
	background: #DEDEDE;
	-webkit-border-radius: 16px;
	-moz-border-radius: 16px;
	border-radius: 16px;
}

.woocommerce .widget_price_filter .price_slider_wrapper .ui-widget-content,.woocommerce-page .widget_price_filter .price_slider_wrapper .ui-widget-content {
	background: #EEEEEE;
	-webkit-border-radius: 16px;
	-moz-border-radius: 16px;
	border-radius: 16px;
}

.woocommerce .widget_price_filter .ui-slider-horizontal,.woocommerce-page .widget_price_filter .ui-slider-horizontal {
	height: 8px;
}

.woocommerce .widget_price_filter .ui-slider-horizontal .ui-slider-range,.woocommerce-page .widget_price_filter .ui-slider-horizontal .ui-slider-range {
	top: 0;
	height: 100%;
}

.woocommerce .widget_price_filter .ui-slider-horizontal .ui-slider-range-min,.woocommerce-page .widget_price_filter .ui-slider-horizontal .ui-slider-range-min {
	left: -1px;
}

.woocommerce .widget_price_filter .ui-slider-horizontal .ui-slider-range-max,.woocommerce-page .widget_price_filter .ui-slider-horizontal .ui-slider-range-max {
	right: -1px;
}

.twentythirteen .entry-summary {
	padding: 0;
}

@media (-webkit-min-device-pixel-ratio:2),(min-resolution:192dpi) {
	.woocommerce a.button.loading:before,.woocommerce button.button.loading:before,.woocommerce input.button.loading:before,.woocommerce #respond input#submit.loading:before,.woocommerce #content input.button.loading:before,.woocommerce-page a.button.loading:before,.woocommerce-page button.button.loading:before,.woocommerce-page input.button.loading:before,.woocommerce-page #respond input#submit.loading:before,.woocommerce-page #content input.button.loading:before {
		background-image: url(images/ajax-loader@2x.gif);
		background-size: 16px 16px;
	}

	.woocommerce .woocommerce form .form-row.validate-required.woocommerce-validated input.input-text,.woocommerce .woocommerce-page form .form-row.validate-required.woocommerce-validated input.input-text,.woocommerce-page .woocommerce form .form-row.validate-required.woocommerce-validated input.input-text,.woocommerce-page .woocommerce-page form .form-row.validate-required.woocommerce-validated input.input-text {
		background-image: url(images/icons/valid@2x.png);
		background-size: 12px 9px;
	}

	.woocommerce .woocommerce form .form-row.validate-required.woocommerce-invalid input.input-text,.woocommerce .woocommerce-page form .form-row.validate-required.woocommerce-invalid input.input-text,.woocommerce-page .woocommerce form .form-row.validate-required.woocommerce-invalid input.input-text,.woocommerce-page .woocommerce-page form .form-row.validate-required.woocommerce-invalid input.input-text {
		background-image: url(images/icons/invalid@2x.png);
		background-size: 12px 9px;
	}

	.woocommerce p.stars span,.woocommerce-page p.stars span {
		background-image: url(images/star@2x.png);
		background-size: 16px 48px;
	}

	.woocommerce p.stars span a:hover,.woocommerce p.stars span a:focus,.woocommerce-page p.stars span a:hover,.woocommerce-page p.stars span a:focus {
		background-image: url(images/star@2x.png);
		background-size: 16px 48px;
	}

	.woocommerce p.stars span a.active,.woocommerce-page p.stars span a.active {
		background-image: url(images/star@2x.png);
		background-size: 16px 48px;
	};
}